<div class="d-flex justify-content-center">
    <div class="kezdooldal-container mt-3 mb-5">
        <div class="kezdooldal-content">
            <mat-grid-list cols="20" rows="24" rowHeight="1:1">
                <mat-grid-tile colspan="8" rowspan="6">
                    <div class="img-container">
                        <img class="kezdooldal-img" src="../../assets/kepek/stock5.jpg" alt="">
                    </div>
                </mat-grid-tile>
                <mat-grid-tile colspan="6" rowspan="6">
                    <div class="img-container">
                        <img class="kezdooldal-img" src="../../assets/kepek/stock2.jpg" alt="">
                    </div>
                </mat-grid-tile>
                <mat-grid-tile colspan="6" rowspan="4">
                    <div class="img-container">
                        <img class="kezdooldal-img" src="../../assets/kepek/stock4.jpg" alt="">
                    </div>
                </mat-grid-tile>
                <mat-grid-tile colspan="6" rowspan="5">
                    <div class="img-container">
                        <img class="kezdooldal-img" src="../../assets/kepek/stock8.jpg" alt="">
                    </div>
                </mat-grid-tile>
                <mat-grid-tile colspan="2" rowspan="2">
                    <div class="img-container">
                        <img class="kezdooldal-img" src="../../assets/kepek/stock7.jpg" alt="">
                    </div>
                </mat-grid-tile>
                <mat-grid-tile colspan="8" rowspan="2">
                    <button mat-button id="button-tile-content" routerLink="/esemenyKereso">
                        <span>TOVÁBB AZ ESEMÉNYEKHEZ!</span>
                        <mat-icon iconPositionEnd>keyboard_arrow_right</mat-icon>
                    </button>
                </mat-grid-tile>
                <mat-grid-tile colspan="4" rowspan="3">
                    <div class="img-container">
                        <img class="kezdooldal-img" src="../../assets/kepek/stock3.jpg" alt="">
                    </div>
                </mat-grid-tile>
                <mat-grid-tile colspan="10" rowspan="8">
                    <div class="img-container">
                        <img class="kezdooldal-img" src="../../assets/kepek/stock1.jpg" alt="">      
                    </div>
                </mat-grid-tile>
                <mat-grid-tile colspan="10" rowspan="7">
                    <div class="img-container">
                        <img class="kezdooldal-img" src="../../assets/kepek/stock6.jpg" alt="">  
                    </div>
                </mat-grid-tile>
            </mat-grid-list>
        </div>
    </div>
</div>
    