<div class="container mt-5">
    <div class="slides d-none d-xl-block">
        <div class="slide">
            <img src="../../assets/slides/slide1.jpg">
            <img src="../../assets/slides/slide2.webp">
            <img src="../../assets/slides/slide3.avif">
            <img src="../../assets/slides/slide4.jpg">
            <img src="../../assets/slides/slide5.jpg">
            <img src="../../assets/slides/slide6.jpg">
            <img src="../../assets/slides/slide7.jpg">
            <img src="../../assets/slides/slide8.webp">
        </div>
    </div>
</div>