#fejlec{
    display: flex;
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 70px;
    box-shadow: 1px 1px 6px 1px #c8c8d6;
    background-color: rgb(246, 223, 92);
    color: #2e2f70;
}

.nav-container{
    left: 0;
    align-items: center;
}

img{
    height: 30px;
}

.menu-ikon{
    height: 25px;
    transition: 0.3s;
    margin-right: 3px;
}

a{
    text-decoration: none;
    color: #2e2f70;
    font-weight: bold;
}

.menu-ikon:hover{
    transform: scale(1.2);
}

.nav-link:hover{
    border-radius: 10px;
    box-shadow: 2px 2px 0px 0px  #2e2f70;
}

.logging-container{
    position: fixed;
    right: 0;
    margin-left: auto;
    margin-right: 10px;
}

#kosar-adatok{
    margin-left: 20px;
}