<header id="fejlec">
    <div class="row d-flex align-items-center">                                  
        <nav class="navbar navbar-expand-md">
                <a class="d-block d-md-none align-self-center navbar-brand ml-2" href="/kezdooldal">
                    <img src="../../assets/kepek/booxa-atlatszo_ikon.png" alt="">
                </a>
                <a class="d-none d-md-block align-self-center navbar-brand ml-2" href="/kezdooldal">
                    <img src="../../assets/kepek/booxa-atlatszo.png" alt="">
                </a>
            <div class="d-flex align-items-center d-md-none">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                   Menü
                </button>
            </div>
            <div class="collapse navbar-collapse bg-white" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link d-flex align-items-center" href="/kezdooldal">
                            <span class="d-block d-md-none d-lg-block">Kezdőoldal</span>
                            <img class="d-block menu-ikon" src="../../assets/kepek/kezdolap_ikon.jpg" alt="">
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link d-flex align-items-center" href="/esemenyKereso">
                            <span class="d-block d-md-none d-lg-block">Esemény kereső</span>
                            <img class="menu-ikon" src="../../assets/kepek/event_ikon.jpg" alt="">
                        </a>
                    </li>
                    <li>
                        <a class="nav-link d-flex align-items-center" href="/kedvencek">
                            <span class="d-block d-md-none d-lg-block">Kedvelt előadók/helyszínek</span>
                            <img class="menu-ikon" src="../../assets/kepek/kedvencek_ikon.png" alt="">
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="float-right" id="kosar-adatok">
            <div class="row align-items-center">
                <div class="col-2">
                    <a href="/kosar"><img src="../../assets/kepek/kosar_ikon.png" alt=""></a>
                </div>
                <div class="d-none d-xl-block col-10 font-weight-bold">
                    Kosár összesen: xxx Ft
                </div>
            </div>
        </div>
        <div class="align-self-center">
            <app-bejelentkezes-user class="align-self-center" *ngIf=!szerviz.bejelentkezettStatusz></app-bejelentkezes-user>
            <app-bejelentkezett-user class="align-self-center" *ngIf=szerviz.bejelentkezettStatusz></app-bejelentkezett-user>
        </div>
    </div>
</header>
