<header id="fejlec">
    <div class="row d-flex align-items-center">
        <div class="col-2 pl-4">
            <a class="align-self-center" href="/kezdooldal">
                <img src="../../assets/kepek/booxa-atlatszo.png" alt="">
            </a>
        </div>
        <div class="col-5">                                         
            <nav class="navbar navbar-expand-lg">
                <div class="" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/kezdooldal">Kezdőoldal
                        <img class="menu-ikon" src="../../assets/kepek/kezdolap_ikon.jpg" alt="">
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/esemenyKereso">Esemény kereső
                        <img class="menu-ikon" src="../../assets/kepek/event_ikon.jpg" alt="">
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/kedvencek">Kedvelt előadók/helyszínek
                        <img class="menu-ikon" src="../../assets/kepek/kedvencek_ikon.png" alt="">
                        </a>
                    </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="col-3">
            <div class="float-right" id="kosar-adatok">
                <div class="row align-items-center">
                    <div class="col-2">
                        <a href="/kosar"><img src="../../assets/kepek/kosar_ikon.png" alt=""></a>
                    </div>
                    <div class="col-10 font-weight-bold">
                        Kosár összesen: xxx Ft
                    </div>
                </div>
            </div>
        </div>
        <div class="col-2 align-self-center">
            <app-bejelentkezes-user class="align-self-center" *ngIf=!szerviz.bejelentkezettStatusz></app-bejelentkezes-user>
            <app-bejelentkezett-user class="align-self-center" *ngIf=szerviz.bejelentkezettStatusz></app-bejelentkezett-user>
        </div>
    </div>
</header>
