
  .main {
  flex-grow: 1;
  margin-left: 160px;
  padding: 0px 10px;
}

.container{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

.sticky-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}
