<div class="container mt-5 mb-5 p-2">
    <div class="row">
        <span class="col-12 font-weight-bold text-center cim">Kapcsolat</span>
    </div>
    <hr>
    <div class="row mb-2">
        <span class="col-xs-12 col-md-4 text-start">Cégnév:</span>
        <span class="col-xs-12 col-md-8 fantasy">Booxa Kft.</span>
    </div>
    <div class="row mb-2">
        <span class="col-xs-12 col-md-4 text-start">Email:</span>
        <span class="col-xs-12 col-md-8 fantasy">booxa.service@gmail.com</span>
    </div>
    <div class="row mb-2">
        <span class="col-xs-12 col-md-4">Telefonszám:</span>
        <span class="col-xs-12 col-md-8 fantasy">06 96 969 696 969</span>
    </div>
    <div class="row">
        <span class="col-xs-12 col-md-4">Cím:</span>
        <span class="col-xs-12 col-md-8 fantasy">642135, Teszting, Fő utca 34</span>
    </div>
</div>

