.container{
    width: 350px;
    box-shadow: 1px 1px 5px 1px grey;
    border-radius: 10px;
    color: #2e2f70;
}

.cim{
    font-size: 20px;
}

.fantasy{
    font-family: fantasy;
    letter-spacing: 1px;
}
