<div class="" id="kosar-adatok">
    <div class="container">
        <div class="row">
            <div class="col">
                <h4>Kosár adatok</h4>
            </div>
            <div class="col">
                <a href="/kosar"><img src="../../assets/kepek/kosar_ikon.jpg" alt=""></a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h4>Összesen:</h4>
            </div>
            <div class="col">
                <h4>"Összeg"</h4>
            </div>
        </div>
    </div>
</div>