<div class="esemeny-kereso-teljes container">
    <button *ngIf="!szuroMenu" mat-icon-button class="szuro-nyito d-block d-lg-none" (click)="szuroMuvelet()"><mat-icon>filter_list</mat-icon></button>
    <div class="row">
        <div class="col-xs-12 col-lg-3 d-lg-block" id="kereses-szures-container" [class.d-none]="!szuroMenu" [class.d-block]="szuroMenu">
            <div class="row">
                <div class="col">
                    <h4 class="font-weight-bold">Szűrők beállítása</h4>
                    <button *ngIf="szuroMenu" mat-icon-button (click)="szuroMuvelet()" class="szuro-zaro d-block d-lg-none"><mat-icon>clear</mat-icon></button>
                </div>
            </div>
            <div class="row szuro-cim-torles-container">
                <div class="col d-flex align-items-center">
                    <span class="font-weight-bold">Szűrés időpontra</span>
                    <button class="szuro-torlo-button" matTooltip="Eseményidőpont törlése" matTooltipPosition="above" mat-icon-button (click)="datumTorles()" [disabled]="esemenyDatum==''">                
                        <mat-icon class="szuro-torlo-icon">close</mat-icon>
                    </button>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col">
                    <mat-card class="kereses-block">
                        <mat-form-field class="szuro-input">
                            <mat-label>Időpont</mat-label>
                            <input matInput [matDatepicker]="picker" [min]="maiDatum" (dateChange)="esemenyKivalasztas($event)" [value]="esemenyDatum">
                            <mat-hint>MM/DD/YYYY</mat-hint>
                            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </mat-card>
                </div>
            </div>
            <div class="row szuro-cim-torles-container">
                <div class="col d-flex align-items-center">
                    <span class="font-weight-bold">Szűrés jegy alapárra</span>
                    <button class="szuro-torlo-button" matTooltip="Jegyár visszaállítás" matTooltipPosition="above" mat-icon-button (click)="jegyArAlaphelyzet()" [disabled]="minJegyar==0&&maxJegyar==30000">                
                        <mat-icon class="szuro-torlo-icon">replay</mat-icon>
                    </button>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col">
                    <mat-card class="kereses-block">
                        <mat-form-field class="szuro-input">
                            <mat-label>Min. jegy alapár</mat-label>
                            <input matInput class="mb-2" id="min-jegyar" mask="9*" [(ngModel)]="minJegyar" (change)="esemenyKereses()">
                        </mat-form-field>
                        <mat-form-field class="szuro-input">
                            <mat-label>Max. jegy alapár</mat-label>
                            <input matInput id="max-jegyar"  mask="9*" [(ngModel)]="maxJegyar" (change)="esemenyKereses()">
                        </mat-form-field>
                        <mat-slider min="0" max="30000" (change)="esemenyKereses()" class="w-75">
                            <input [(ngModel)]="minJegyar" matSliderStartThumb>
                            <input [(ngModel)]="maxJegyar" matSliderEndThumb>
                        </mat-slider>
                        <span class="d-block"><b>Jegy alapárak:</b></span> 
                        <span class="d-block">{{minJegyar}} Ft - {{maxJegyar}} Ft között</span>
                    </mat-card>
                </div>
            </div>
            <div class="row szuro-cim-torles-container">
                <div class="col d-flex align-items-center">
                    <span class="font-weight-bold">Szűrés műfajokra</span>
                    <button class="szuro-torlo-button" matTooltip="Műfajszűrők törlése" matTooltipPosition="above" mat-icon-button (click)="szuroTorles('mufaj')" [disabled]="keresettMufajok.length==0">                
                        <mat-icon class="szuro-torlo-icon" >close</mat-icon>
                    </button>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col">
                    <mat-card class="szuro-container">
                        <ul class="szuro-elem-lista">
                            <li *ngFor="let mufaj of mufajLista">
                                <mat-checkbox [checked]="keresettMufajok.includes(mufaj)" id={{mufaj}} color="primary" (change)="checkValtozas('mufaj',mufaj)">{{mufaj}}</mat-checkbox>
                            </li>
                        </ul>
                    </mat-card>
                </div>
            </div>
            <div class="row szuro-cim-torles-container">
                <div class="col d-flex align-items-center">
                    <span class="font-weight-bold">Szűrés helyszínekre</span>
                    <button class="szuro-torlo-button" matTooltip="Helyszínszűrők törlése" matTooltipPosition="above" mat-icon-button (click)="szuroTorles('varos')" [disabled]="keresettTelepulesek.length==0">                
                        <mat-icon class="szuro-torlo-icon">close</mat-icon>
                    </button>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col">
                    <mat-card class="szuro-container">
                        <ul class="szuro-elem-lista">
                            <li *ngFor="let varos of telepulesLista">
                                <mat-checkbox [checked]="keresettTelepulesek.includes(varos)" id="{{varos}}" color="primary" (change)="checkValtozas('varos',varos)">{{varos}}</mat-checkbox>
                            </li>
                        </ul>
                    </mat-card>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-lg-9 d-lg-block konkret-kereses-container" [class.d-block]="!szuroMenu" [class.d-none]="szuroMenu">
            <div class="row mb-1">
                <div class="col w-100 d-flex justify-content-center">
                    <h4 class="font-weight-bold">Keresés előadó, helyszín alapján</h4>
                </div>
            </div>
            <mat-card class="pt-3 pb-3 mb-4 container" (ngSubmit)="esemenyKereses()" (keydown.enter)="esemenyKereses()">
                <div class="row justify-content-center">
                    <div class="col-sm-12 col-md-5 d-flex justify-content-center">
                        <mat-form-field class="w-100">
                            <mat-label>Előadó</mat-label>
                            <div class="d-flex">
                                <input matInput [(ngModel)]="keresettEloado" type="text" placeholder="bármilyen előadó" [matAutocomplete]="auto1">
                                <button mat-icon-button (click)="konkretKeresesAlaphelyzet('eloado')" [disabled]="keresettEloado==''"><mat-icon>close</mat-icon></button>
                            </div>
                            <mat-autocomplete #auto1="matAutocomplete" (optionSelected)="esemenyKereses()">
                                <mat-option *ngFor="let javaslat of eloadoFilterezett" [value]="javaslat">
                                    {{ javaslat }}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-12 col-md-5 d-flex justify-content-center">
                        <mat-form-field class="w-100">
                            <mat-label>Helyszín</mat-label>
                            <div class="d-flex">
                                <input matInput [(ngModel)]="keresettHelyszin" type="text" placeholder="bárhol" [matAutocomplete]="auto2">
                                <button mat-icon-button (click)="konkretKeresesAlaphelyzet('helyszin')" [disabled]="keresettHelyszin==''"><mat-icon>close</mat-icon></button>
                            </div>
                            <mat-autocomplete #auto2="matAutocomplete" (optionSelected)="esemenyKereses()">
                                <mat-option *ngFor="let javaslat of helyszinFilterezett" [value]="javaslat">
                                    {{ javaslat }}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </div>       
                </div>
                <div *ngIf="megjelenitettEsemenyekTomb.length>0" class="row d-flex align-items-center">
                    <div class="col-md-12 col-lg-7 mt-3">
                        <div class="d-flex justify-content-center">
                            <button class="paginalas" (click)="elsoOldal()">
                                <mat-icon>first_page</mat-icon>
                            </button>
                            <button class="paginalas" (click)="lapozasHatra()">
                                <mat-icon>keyboard_arrow_left</mat-icon>
                            </button>
                            <button class="paginalas" (click)="lapozasElore()">
                                <mat-icon>keyboard_arrow_right</mat-icon>
                            </button>
                            <button class="paginalas" (click)="utolsoOldal()">
                                <mat-icon>last_page</mat-icon>
                            </button>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-5 mt-3">
                        <div class="d-flex justify-content-center">
                            <select class="form-control megjelenitett-esemeny-darab mr-2" [(ngModel)]="esemenyekDbOldalon" (ngModelChange)="this.elsoOldal()">
                                <option [value]=5>5</option>
                                <option [value]=10>10</option>
                                <option [value]=25>25</option>
                                <option [value]=50>50</option>
                            </select>
                            <select class="form-control rendezes" name="talalat-rendezes" [(ngModel)]="talalatRendezesOpcio" (ngModelChange)="talalatRendezes()">
                                <option value="eloado_AZ">előadó (A-Z)</option>
                                <option value="eloado_ZA">előadó (Z-A)</option>
                                <option value="helyszin_AZ">helyszín (A-Z)</option>
                                <option value="helyszin_ZA">helyszín (Z-A)</option>
                                <option value="jegy_n">jegy alapár<span>&#8593;</span><span>&#8593;</span></option>
                                <option value="jegy_cs">jegy alapár<span>&#8595;</span><span>&#8595;</span></option>
                                <option value="datum_n">dátum<span>&#8593;</span><span>&#8593;</span></option>
                                <option value="datum_cs">dátum<span>&#8595;</span><span>&#8595;</span></option>
                            </select>
                        </div>
                    </div>
                </div>
            </mat-card>
            <div class="row mb-4">
                <div class="w-100 col">
                    <div class="row">
                        <div class="col w-100 d-flex justify-content-center">
                            <h3 *ngIf="megjelenitettEsemenyekTomb.length==0"><i>Eseménykereséshez állíts be több előadó, helyszín, esemény adatot!</i></h3>
                        </div>
                    </div>
                    <mat-grid-list class="esemeny-megjelenito" [cols]="cols" rowHeight="250px">
                        <mat-grid-tile *ngFor="let esemeny of megjelenitettEsemenyekTomb; trackBy: trackByFn" style="overflow: visible;">
                            <mat-card class="container esemeny-container p-0">
                                <mat-card-content class="h-100 w-100">
                                    <div class="row p-0 h-100 w-100">
                                        <div class="col-6 text-center p-0 kepes-blokk">
                                            <img class="esemeny-kep m-2" [src]="this.eloadoSzerviz.eloadoKepUrl(esemeny.eloado.kep_eleres)" alt="">
                                            <span class="eloado-nev">{{esemeny.eloado.nev}}</span>
                                        </div>
                                        <div class="col-6 p-0 h-100">
                                            <span class="font-weight-bold">Helyszín:
                                                <span class="helyszin-info">
                                                <mat-icon style="cursor: pointer;" >info</mat-icon><img class="helyszin-info-kep" [src]="this.helyszinSzerviz.helyszinKepUrl(esemeny.helyszin.helyszin_kep_eleres)"></span></span>
                                            <span class="d-block mb-1">{{esemeny.helyszin.nev}}</span>
                                            <b>Időpont:</b>
                                            <span class="d-block mb-2">{{datumFormazas(esemeny.idopont)}}</span>
                                            <span class="d-block font-weight-bold text-danger">Jegyárak {{esemeny.jegy_alapar}} Ft-tól!</span>
                                            <button mat-raised-button class="megnez-button shadow-button" [routerLink]="['/esemenyReszletek',esemeny.id]">Megnézem</button>
                                        </div>
                                    </div>
                                </mat-card-content>
                            </mat-card>
                        </mat-grid-tile>
                    </mat-grid-list>
                </div>
            </div>
            <div *ngIf="megjelenitettEsemenyekTomb.length>0" class="row">
                <div class="col">
                    <mat-card class="paginacio">
                        <div class="col-9 d-flex">
                            <button class="paginalas" (click)="elsoOldal()">
                                <mat-icon>first_page</mat-icon>
                            </button>
                            <button class="paginalas" (click)="lapozasHatra()">
                                <mat-icon>keyboard_arrow_left</mat-icon>
                            </button>
                            <button class="paginalas" (click)="lapozasElore()">
                                <mat-icon>keyboard_arrow_right</mat-icon>
                            </button>
                            <button class="paginalas" (click)="utolsoOldal()">
                                <mat-icon>last_page</mat-icon>
                            </button>
                        </div>
                        <div class="col-3">
                            <select class="form-control megjelenitett-esemeny-darab" [(ngModel)]="esemenyekDbOldalon" (ngModelChange)="this.elsoOldal()">
                                <option [value]=5>5</option>
                                <option [value]=10>10</option>
                                <option [value]=25>25</option>
                                <option [value]=50>50</option>
                            </select>
                        </div>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</div>

