div{
  color: #2e2f70;
}

.esemeny-kereso-teljes{
  display: flex;
}

.kereses-szures {
  width: 300px;
  height: 100%;
  background-color:white;
  padding: 12px 30px 20px 30px;
  overflow-y: auto;
  margin: 0;
  box-shadow: 1px 1px 1px 1px rgba(152, 168, 189,0.5);
}

.kereses-szures ul {
  list-style: none;
  padding: 0;
}
  
.kereses-szures ul li {
  margin-bottom: 1px;
  align-items: center;
  display: flex;
}

.esemeny-kep{
  height: 150px;
  border-radius: 3px;
  box-shadow: 0px 1px 1px 1px #c8c8d6;
}

a{
  text-decoration: none;
}

button{
  box-shadow: 0px 1px 1px 1px rgb(91, 91, 108);
}

.kereses-block{
  box-shadow: 0px 0px 2px 1px rgba(52, 84, 52,0.5);
  border-radius: 3px;
  padding: 5px 0px 12px 2px;
}

.szuro-container{
  height: 200px;
  overflow-y: auto;
}

body {
  padding: 4em;
  background-color: #333;
}

@media screen and (max-width: 600px) {
  .kereses-szures {width: 100%};
}

mat-card{
  height: 95%;
  width: 95%;
}

mat-grid-tile{
  height: 100px;
  overflow: hidden;
}

.esemeny-card:hover{
  box-shadow: 2px 2px 2px 2px rgb(98, 139, 193);
}

.szuro-input{
  width: 90%;
  height: 80px;
}

.eloado-nev{
  display: block;
  text-align: center;
  margin-top: 10px;
  font-family: fantasy;
  font-size: 17px;
}

.szuro-torlo-button{
  position: relative;
  height: 10px;
  width: 10px;
  text-align: center;
  margin-left: 10px;
}

.szuro-torlo-icon{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.szuro-cim-torles-container{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  justify-content: space-between;
}
