<div class="esemeny-kereso-teljes">
    <div class="container kereses-szures"> 
       <div class="kereses-szures-content">
            <div class="row">
                <div class="col">
                    <h4 class="font-weight-bold" >Szűrők beállítása</h4>
                </div>
            </div>
            <div class="row szuro-cim-torles-container">
                <span class="font-weight-bold d-block">Szűrés esemény időpontra</span>
            </div>
            <div class="row mb-4 kereses-block">
                <div class="col d-block mb-2 pt-2">
                    <mat-form-field class="szuro-input">
                        <mat-label>Időpont</mat-label>
                        <input matInput [matDatepicker]="picker" [min]="maiDatum" (dateChange)="esemenyKivalasztas($event)" [value]="esemenyDatum">
                        <mat-hint>MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col">
                    <button mat-raised-button class="mt-2" (click)="datumTorles()" [disabled]="esemenyDatum==''"><mat-icon>close</mat-icon>Időpont törlése</button>
                </div>
            </div>
            <div class="row szuro-cim-torles-container">
                <span class="font-weight-bold d-block">Szűrés jegy alapárra</span>
                <button class="szuro-torlo-button" matTooltip="Jegyár visszaállítás" matTooltipPosition="above" mat-icon-button (click)="jegyArAlaphelyzet()" [disabled]="minJegyar==0&&maxJegyar==30000">                
                    <mat-icon class="szuro-torlo-icon">replay</mat-icon>
                </button>
            </div>
            <div class="row mb-4 kereses-block">
                <div class="col d-block mb-2 pt-2">
                    <mat-form-field class="szuro-input">
                        <mat-label>Min. jegy alapár</mat-label>
                        <input matInput class="mb-2" id="min-jegyar" mask="9*" [(ngModel)]="minJegyar" (change)="esemenyKereses()">
                    </mat-form-field>
                    <mat-form-field class="szuro-input">
                        <mat-label>Max. jegy alapár</mat-label>
                        <input matInput id="max-jegyar"  mask="9*" [(ngModel)]="maxJegyar" (change)="esemenyKereses()">
                    </mat-form-field>
                    <mat-slider min="0" max="30000" (change)="esemenyKereses()" class="w-75">
                        <input [(ngModel)]="minJegyar" matSliderStartThumb>
                        <input [(ngModel)]="maxJegyar" matSliderEndThumb>
                    </mat-slider>
                    <br>
                    <span>Jegy alapárak:</span> 
                    <br>
                    <span>{{minJegyar}} Ft - {{maxJegyar}} Ft között</span>
                </div>
            </div>
            <div class="row szuro-cim-torles-container">
                <span class="font-weight-bold d-block">Szűrés műfajokra</span>
                <button class="szuro-torlo-button" matTooltip="Műfajszűrők törlése" matTooltipPosition="above" mat-icon-button (click)="szuroTorles('mufaj')" [disabled]="keresettMufajok.length==0">                
                    <mat-icon class="szuro-torlo-icon" >close</mat-icon>
                </button>
            </div>
            <div class="row mb-4 kereses-block szuro-container">
                <div class="col">
                    <ul>
                        <li *ngFor="let mufaj of mufajLista">
                            <mat-checkbox [checked]="keresettMufajok.includes(mufaj)" class="mr-2" id={{mufaj}} color="primary" (change)="checkValtozas('mufaj',mufaj)">{{mufaj}}</mat-checkbox>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row szuro-cim-torles-container">
                <span class="font-weight-bold d-block">Szűrés helyszínekre</span>
                <button class="szuro-torlo-button" matTooltip="Helyszínszűrők törlése" matTooltipPosition="above" mat-icon-button (click)="szuroTorles('varos')" [disabled]="keresettTelepulesek.length==0">                
                    <mat-icon class="szuro-torlo-icon">close</mat-icon>
                </button>
            </div>
            <div class="row mb-4 kereses-block">
                <div class="col">
                    <span class="d-block">Város</span>
                    <ul>
                        <li *ngFor="let varos of telepulesLista">
                            <mat-checkbox [checked]="keresettTelepulesek.includes(varos)" class="mr-2" id="{{varos}}" color="primary" (change)="checkValtozas('varos',varos)">{{varos}}</mat-checkbox>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="ml-5 mt-5 w-100">
        <div class="row">
            <div class="col mb-2" (ngSubmit)="esemenyKereses()" (keydown.enter)="esemenyKereses()">
                <div class="row">
                    <div class="col">
                        <mat-form-field class="example-full-width">
                            <mat-label>Előadó</mat-label>
                            <input matInput [(ngModel)]="keresettEloado" type="text" placeholder="bármilyen előadó" [matAutocomplete]="auto1">
                            <mat-autocomplete #auto1="matAutocomplete">
                                <mat-option *ngFor="let javaslat of eloadoFilterezett" [value]="javaslat">
                                    {{ javaslat }}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </div>
                    <div class="col">
                        <mat-form-field class="example-full-width">
                            <mat-label>Helyszín</mat-label>
                            <input matInput [(ngModel)]="keresettHelyszin" type="text" placeholder="bárhol" [matAutocomplete]="auto2" >
                        </mat-form-field>
                        <mat-autocomplete #auto2="matAutocomplete">
                            <mat-option *ngFor="let javaslat of helyszinFilterezett" [value]="javaslat">
                                {{ javaslat }}
                            </mat-option>
                        </mat-autocomplete>
                    </div>
                    <div class="col">
                        <button mat-raised-button class="mt-2" (click)="esemenyKereses()">Keresés</button>
                        <button mat-raised-button class="mt-2" (click)="eloadoHelyszinKeresesAlaphelyzet()" [disabled]="keresettEloado==''&&keresettHelyszin==''">Keresés visszaálítás<mat-icon>close</mat-icon></button>
                    </div>
                </div>
            </div>              
            <div class="col">
                <div class="row">
                    <button mat-button (click)="elsoOldal()"><mat-icon>first_page</mat-icon></button>
                    <button mat-button (click)="lapozasHatra()"><mat-icon>keyboard_arrow_left</mat-icon></button>
                    <button mat-button (click)="lapozasElore()"><mat-icon>keyboard_arrow_right</mat-icon></button>
                    <button mat-button (click)="utolsoOldal()"><mat-icon>last_page</mat-icon></button>
                    <mat-form-field>
                        <mat-label>Események oldalon</mat-label>
                        <mat-select name="talalat-rendezes" [(ngModel)]="esemenyekDbOldalon" (ngModelChange)="this.elsoOldal()">
                            <mat-option [value]=5>5</mat-option>
                            <mat-option [value]=10>10</mat-option>
                            <mat-option [value]=25>25</mat-option>
                            <mat-option [value]=50>50</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Találatok rendezése</mat-label>
                        <mat-select name="talalat-rendezes" [(ngModel)]="talalatRendezesOpcio" (ngModelChange)="talalatRendezes()">
                            <mat-option value="eloado_AZ">előadók (A-Z)</mat-option>
                            <mat-option value="eloado_ZA">előadók (Z-A)</mat-option>
                            <mat-option value="helyszin_AZ">helyszínek (A-Z)</mat-option>
                            <mat-option value="helyszin_ZA">helyszínek (Z-A)</mat-option>
                            <mat-option value="jegy_n">jegy alapár (növekvő)</mat-option>
                            <mat-option value="jegy_cs">jegy alapár (csökkenő)</mat-option>
                            <mat-option value="datum_n">dátum (legkorábbitól)</mat-option>
                            <mat-option value="datum_cs">dátum (legkésőbbitől)</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <hr>
        <mat-grid-list  [cols]="cols" rowHeight="2:1">
            <mat-grid-tile *ngFor="let esemeny of megjelenitettEsemenyekTomb"> <!--; index as i; trackBy: trackByFn-->
                <mat-card class="container">
                    <mat-card-content>
                        <div class="row p-0">
                            <div class="col text-center p-0">
                                <img class="esemeny-kep m-2" [src]="this.eloadoSzerviz.eloadoKepUrl(esemeny.eloado.kep_eleres)" alt="">
                                <span class="eloado-nev">{{esemeny.eloado.nev}}</span>
                            </div>
                            <div class="col p-0 relative">
                                <b>Helyszín:</b>
                                <span class="d-block">{{esemeny.helyszin.nev}}</span>
                                <b>Időpont:</b>
                                <span class="d-block">{{datumFormazas(esemeny.idopont)}}</span>
                                <b>Jegyárak:</b>
                                <span class="d-block">Már {{esemeny.jegy_alapar}} Ft-tól!</span>
                                <button mat-raised-button class="float-right float-bottom" [routerLink]="['/esemenyReszletek',esemeny.id]">Megnézem</button>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
</div>

