.esemeny-kereso-teljes{
  min-width: 70%;
  color: #2e2f70;
  padding-top: 30px;
  padding-bottom: 30px;
}

#kereses-szures-container{
  height: 100%;
}

.kereses-szures-container ul {
  list-style: none;
}
  
.kereses-szures-container ul li {
  margin-bottom: 1px;
  align-items: center;
  display: flex;
}

.esemeny-kep{
  max-width: 50%;
  max-height: 80%;
  border-radius: 3px;
  box-shadow: 0px 1px 1px 1px #c8c8d6;
}

a{
  text-decoration: none;
}

button{
  box-shadow: 0px 1px 1px 1px rgb(91, 91, 108);
}

.kereses-block{
  padding: 10px;
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.szuro-container{
  height: 400px;
  overflow-y: auto;
  padding-left: 15px;
}

.esemeny-container{
  height: 95%;
  width: 95%;
}

mat-grid-tile{
  height: 100px;
  overflow: hidden;
}

.esemeny-card:hover{
  box-shadow: 2px 2px 2px 2px rgb(98, 139, 193);
}

.szuro-input{
  width: 100%;
  height: 80px;
}

.eloado-nev{
  display: block;
  text-align: center;
  margin-top: 10px;
  font-family: fantasy;
  font-size: 17px;
}

.szuro-torlo-button{
  position: relative;
  height: 10px;
  width: 10px;
  margin-left: 10px;
}

.szuro-torlo-icon{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.szuro-cim-torles-container{
  margin-bottom: 5px;
  align-items: center;
}

.megjelenitett-esemeny-darab{
  height: fit-content;
  width: 70px;
}

.rendezes{
  height: fit-content;
  width: 150px;
}

.paginalas{
  height: 25px;
  width: 36px;
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0px 5px;
  border-radius: 5px;
  border: 1px solid rgb(228, 225, 225);
}

.szuro-elem-lista{
  padding-left: 0px;
  list-style-type: none;
}

.oldalnavigacio{
  display: flex;
  justify-self: center;
}

.rendezes{
  justify-self: end;
  align-self: flex-end;
}

.esemeny-megjelenito{
  border-radius: 2px;
}

.paginacio{
  display: flex;
  flex-direction: row;
  padding: 10px;
  width: 100%;
}

.kepes-blokk{
  max-height: 200px;
}

.megnez-button{
  position: absolute;
  display: block;
  right: 0;
  bottom: 0;
  background-color: #2e2f70;
  color: rgb(246, 223, 92);
}

.konkret-kereses-container{
  align-items: start;
}

.szuro-nyito{
  z-index: 1;
  position: fixed;
  top: 80px;
  left: 5px;
  background-color: #d9d9df;
}

.szuro-zaro{
  z-index: 2;
  position: absolute;
  top: 0px;
  right: 10px;
  background-color: #d9d9df;
}

.helyszin-info{
  position: relative;
}

.helyszin-info-kep{
  display: none;
  position: absolute;
  top: -10px;
  left: -200px;
  z-index: 3;
  height: 200px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 15px #d9d9df;
}

.helyszin-info:hover .helyszin-info-kep{
  display: block;
}