<div class="esemeny-kereso-teljes">
    <div class="container kereses-szures"> 
       <div class="kereses-szures-content">
            <div class="row">
                <div class="col">
                    <h4 class="font-weight-bold" >Keresés</h4>
                </div>
            </div>
            <div class="row mb-4 kereses-block">
                <form (ngSubmit)="esemenyKereses()" (keydown.enter)="esemenyKereses()">
                    <div class="col mb-2">
                        <label class="font-weight-bold d-block" >Előadó:</label>
                        <input name="eloado"  [(ngModel)]="keresettEloado" type="text" placeholder="bármilyen előadó" [matAutocomplete]="auto1">
                        <mat-autocomplete #auto1="matAutocomplete">
                            <mat-option *ngFor="let javaslat of eloadoFilterezett" [value]="javaslat">
                              {{ javaslat }}
                            </mat-option>
                        </mat-autocomplete>
                    </div>
                    <div class="col mb-2">
                        <label for="helyszin" class="font-weight-bold d-block" >Helyszín:</label>
                        <input name="helyszin" id="helyszin" [(ngModel)]="keresettHelyszin" type="text" placeholder="bárhol" [matAutocomplete]="auto2" >
                        <mat-autocomplete #auto2="matAutocomplete">
                            <mat-option *ngFor="let javaslat of helyszinFilterezett" [value]="javaslat">
                              {{ javaslat }}
                            </mat-option>
                        </mat-autocomplete>
                    </div>
                    <div class="col">
                        <button  mat-raised-button class="mt-2">Keresés</button>
                    </div>
                </form>
            </div>
            <span class="font-weight-bold d-block mb-2">Szűrés esemény időpontra</span>
            <div class="row mb-4 kereses-block">
                <div class="col d-block mb-2">
                    <input type="date" id="esemenyDatum" [min]="maiDatum" [(ngModel)]="esemenyDatum" (ngModelChange)="esemenyKereses()">
                </div>
                <div class="col">
                    <button mat-raised-button class="mt-2" (click)="datumTorles()">Időpont törlése</button>
                </div>
            </div>
            <span class="font-weight-bold d-block mb-2">Szűrés jegyárra</span>
            <div class="row mb-4 kereses-block">
                <div class="col d-block mb-2">
                    <label for="minJegyar">Min. jegyár</label>
                    <div class="row">
                        <span>0 Ft</span>
                        <input id="minJegyar" class="mb-2" type="range" id="minJegyar" placeholder="Min. jegyár" [(ngModel)]="minJegyar" max="50000" (change)="jegyArHatarertekValtozas()">
                        <span>{{minJegyar}} Ft</span>
                    </div>

                    <label for="maxJegyar">Max. jegyár</label>
                    <div>
                        <span>{{minJegyar}} Ft</span>
                        <input id="maxJegyar" type="range" placeholder="Max. jegyár" [(ngModel)]="maxJegyar" max="50000" [attr.min]="minJegyar">
                        <span>{{maxJegyar}} Ft</span>
                    </div>
                    <span>Jegyárak {{minJegyar}} Ft - {{maxJegyar}} Ft között</span>
                </div>
            </div>
            <span class="font-weight-bold d-block mb-2">Szűrés műfajokra</span>
            <div class="row mb-4 kereses-block szuro-container">
                <div class="col">
                    <ul>
                        <li *ngFor="let mufaj of mufajLista">
                            <input class="mr-2" type="checkbox" name="" id={{mufaj}}>
                            <label class="pt-1" for={{mufaj}}>{{mufaj}}</label>
                        </li>
                    </ul>
                </div>
            </div>
            <span class="font-weight-bold d-block mb-2">Szűrés helyszínekre</span>
            <div class="row kereses-block">
                <div class="col">
                    <span class="d-block">Város</span>
                    <ul>
                        <li *ngFor="let varos of telepulesLista">
                            <input class="mr-2" type="checkbox" name="" id="{{varos}}">
                            <label class="pt-1" for="{{varos}}">{{varos}}</label>
                        </li>
                    </ul>
                    <span class="d-block">Férőhely</span>
                    <ul>
                        <li *ngFor="let ferohely of ferohelyek">
                            <input class="mr-2" type="checkbox" name="" id="{{ferohely}}">
                            <label class="pt-1" for="{{ferohely}}">{{ferohely}}</label>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="ml-5 mt-5 w-100">
        <div class="row">
            <div class="col-lg-9 col-md-6 col-sm-12">
                <h2>Keresési találatok</h2>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="row">
                    Találatok rendezése
                </div>
                <div class="row">
                    <select name="talalat-rendezes" [(ngModel)]="talalatRendezesOpcio" (ngModelChange)="talalatRendezes()">
                        <option value="eloado_AZ">előadók (A-Z)</option>
                        <option value="eloado_ZA">előadók (Z-A)</option>
                        <option value="helyszin_AZ">helyszínek (A-Z)</option>
                        <option value="helyszin_ZA">helyszínek (Z-A)</option>
                        <option value="jegy_n">jegy alapár (növekvő)</option>
                        <option value="jegy_cs">jegy alapár (csökkenő)</option>
                        <option value="datum_n">dátum (legkorábbitól)</option>
                        <option value="datum_cs">dátum (legkésőbbitől)</option>
                    </select>
                </div>
            </div>
        </div>
        <hr>
        <mat-grid-list  [cols]="cols" rowHeight="2:1">
            <mat-grid-tile *ngFor="let esemeny of esemenyLista">
                <mat-card class="container">
                    <mat-card-content>
                        <div class="row p-0">
                            <div class="col text-center p-0">
                                <img class="esemeny-kep m-2" [src]="this.eloadoSzerviz.eloadoKepUrl(esemeny.eloado.kep_eleres)" alt="">
                                <span class="d-block text-center mt-2" style="font-family: fantasy;">{{esemeny.eloado.nev}}</span>
                            </div>
                            <div class="col p-0 relative">
                                <b>Helyszín:</b>
                                <span class="d-block">{{esemeny.helyszin.nev}}</span>
                                <b>Időpont:</b>
                                <span class="d-block">{{datumFormazas(esemeny.idopont)}}</span>
                                <b>Jegyárak:</b>
                                <span class="d-block">Már {{esemeny.jegy_alapar}} Ft-tól!</span>
                                <button mat-raised-button class="float-right float-bottom" [routerLink]="['/esemenyReszletek',esemeny.id]">Megnézem</button>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
</div>

