<div class="container">
    <div class="row">
        <div class="col">
            Keresés helyszín és előadó alapján
        </div>
    </div>
    <div class="row">
        <div class="col">Előadó:
            <input type="text" placeholder="bármilyen előadó">
        </div>
        <div class="col">Helyszín:
            <input type="text" placeholder="bárhol">
        </div>
        <div class="col">
            <input type="button" value="Keresés">
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col">
            Keresés szűrők
        </div>
        <div class="col">
            Rendezés
            <select name="" id="">
                <option value="">előadók szerint csökkenő ABC sorrendben</option>
                <option value="">előadók szerint növekvő ABC sorrendben</option>
                <option value="">helyszínek szerint növekvő ABC sorrendben</option>
                <option value="">helyszínek szerint növekvő ABC sorrendben</option>
                <option value="">jegy alapár szerint csökkenő sorrendben</option>
                <option value="">jegy alapár szerint növekvő sorrendben</option>
            </select>
        </div>
        <label for="esemenyDatum">Esemény időpont</label>
        <input type="date" id="esemenyDatum" [min]="maiDatum" [(ngModel)]="esemenyDatum">
        <button (click)="datumTorles()">Időpont törlése</button>
    </div>
    <div class="row">    
        <div class="col">
        Szűrés előadókra
        <div class="row">
            <div class="col">
                Műfaj
                <ul>
                    <!--<li *ngFor="let mufaj of mufajok"></li>-->
                </ul>
            </div>
            <div class="col">
                
            </div>
        </div>
        </div>
        <div class="col">
        Szűrés helyszínekre
        <div class="row">
            <div class="col">
                Város
                <ul>
                    <!--<li *ngFor="let mufaj of mufajok"></li>-->
                </ul>
            </div>
            <div class="col">
                Férőhely
                <ul>
                    <!--<li *ngFor="let mufaj of mufajok"></li>-->
                </ul>
            </div>
            <div class="col">
                Értékelés
                <ul>
                    <!--<li *ngFor="let mufaj of mufajok"></li>-->
                </ul>
            </div>
        </div>
        </div>
    </div>
    <!--<div *ngFor="let talalat of keresesTalalatok">
    </div>-->
    <div class="row">
        <div class="esemeny-container col-4">
            <div class="row">
                <div class="col esemeny-adat-container">
                    <div class="row">
                        <img class="esemeny-kep" src="../../assets/kepek/eloado_minta.jpg" alt="">
                    </div>
                    <div class="row">
                        <ul>
                            <li>Előadó:</li>
                            <li>Műfaj: </li>
                            <li></li>
                        </ul>
                    </div>
                </div>
                <div class="col esemeny-adat-container">
                    <div class="row">
                        <img class="esemeny-kep" src="../../assets/kepek/helyszin_minta.jpg" alt="">
                    </div>
                    <div class="row">
                        <ul>
                            <li>Város:</li>
                            <li>Helyszín:</li>
                            <li></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    2023. 12. 31-én!
                    Jegyek akár 10000 Ft-tól!
                    Megnézem!
                </div>
            </div>
        </div>
        <div class="esemeny-container col-6">
            <div class="row">
                <div class="col esemeny-adat-container">
                    <div class="row">
                        <img class="esemeny-kep" src="../../assets/kepek/eloado_minta.jpg" alt="">
                    </div>
                    <div class="row">
                        <ul>
                            <li>Előadó:</li>
                            <li>Műfaj: </li>
                            <li></li>
                        </ul>
                    </div>
                </div>
                <div class="col esemeny-adat-container">
                    <div class="row">
                        <img class="esemeny-kep" src="../../assets/kepek/helyszin_minta.jpg" alt="">
                    </div>
                    <div class="row">
                        <ul>
                            <li>Város:</li>
                            <li>Helyszín:</li>
                            <li></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    2023. 12. 31-én!
                    Jegyek akár 10000 Ft-tól!
                    Megnézem!
                </div>
            </div>
        </div>
        <div class="esemeny-container col-6">
            <div class="row">
                <div class="col esemeny-adat-container">
                    <div class="row">
                        <img class="esemeny-kep" src="../../assets/kepek/eloado_minta.jpg" alt="">
                    </div>
                    <div class="row">
                        <ul>
                            <li>Előadó:</li>
                            <li>Műfaj: </li>
                            <li></li>
                        </ul>
                    </div>
                </div>
                <div class="col esemeny-adat-container">
                    <div class="row">
                        <img class="esemeny-kep" src="../../assets/kepek/helyszin_minta.jpg" alt="">
                    </div>
                    <div class="row">
                        <ul>
                            <li>Város:</li>
                            <li>Helyszín:</li>
                            <li></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    2023. 12. 31-én!
                    Jegyek akár 10000 Ft-tól!
                    Megnézem!
                </div>
            </div>
        </div>
        <div class="esemeny-container col-6">
            <div class="row">
                <div class="col esemeny-adat-container">
                    <div class="row">
                        <img class="esemeny-kep" src="../../assets/kepek/eloado_minta.jpg" alt="">
                    </div>
                    <div class="row">
                        <ul>
                            <li>Előadó:</li>
                            <li>Műfaj: </li>
                            <li></li>
                        </ul>
                    </div>
                </div>
                <div class="col esemeny-adat-container">
                    <div class="row">
                        <img class="esemeny-kep" src="../../assets/kepek/helyszin_minta.jpg" alt="">
                    </div>
                    <div class="row">
                        <ul>
                            <li>Város:</li>
                            <li>Helyszín:</li>
                            <li></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    2023. 12. 31-én!
                    Jegyek akár 10000 Ft-tól!
                    Megnézem!
                </div>
            </div>
        </div>
    </div>
</div>
