div{
    color:rgb(1 12 128);
}

li{
    list-style-type: none;
}

.esemeny-kep{
    margin: 5px;
    height: 140px;
    box-shadow: 1px 1px 4px 1px  #c8c8d6;
    border-radius: 10px;
}

.jegy-adat-container{
    box-shadow: 1px 1px 4px 1px  #c8c8d6;
    border-radius: 10px;
    font-size: 110%;
}

.kuka{
    height: 25px;
    background-color: rgba(230, 15, 40, 0.3);
}

.jegy-darab{
    background-color: rgb(1 12 128);
}

#kosar-ikon{
    margin-left: 10px;
    height: 25px;
}

.szuro-torlo-button{
    position: relative;
    height: 30px;
    width: 30px;
    text-align: center;
    margin-left: 10px;
}
  
.szuro-torlo-icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}