<div class="container mt-5">
    <h2>Kosár tartalma</h2>
    <hr>
    <div  *ngFor="let kosarElem of kosarElemek; let i = index" class="row p-3 jegy-adat-container mb-5">
        <div class="col-5">
            <img class="esemeny-kep" [src]="this.eloadoService.eloadoKepUrl(kosarElem.esemeny.eloado.kep_eleres)" alt="">
            <img class="esemeny-kep" [src]="this.helyszinService.helyszinKepUrl(kosarElem.esemeny.helyszin.helyszin_kep_eleres)" alt="">
        </div>
        <div class="col-3">
            <ul>
                <li>{{kosarElem.esemeny.helyszin.nev}}</li>
                <li>{{kosarElem.esemeny.eloado.nev}}</li>
            </ul>
        </div>
        <div class="col-4">
            <div class="row">
                <div class="col-10">
                    <ul>
                        <li>Jegyár : {{kosarElem.szektor.szektor_jegyar}} Ft</li>
                        <br>
                        <li>
                            <p>Jegy darabszám:</p>
                            <div>
                                <input type="button" class="float-left btn btn-primary jegy-darab" (click)="kosarSzerviz.jegyDarabCsokkentes(i,kosarElem.szektor)" value="-">
                                <p class="float-left ml-2 mr-2 p-1">{{kosarElem.jegyDarabszam}}</p>
                                <input type="button" class="float-left btn btn-primary jegy-darab" (click)="kosarSzerviz.jegyDarabNoveles(i,kosarElem.szektor)" value="+">
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-2">
                    <img class="float-right kuka d-block" (click)="kosarSzerviz.tetelTorles(i)" src="../../assets/kepek/kuka_ikon.png" alt="">
                </div>
            </div>
            <hr>
            <div class="row float-right mr-3 font-weight-bold">
                Tétel ár összesen: {{kosarSzerviz.getTetelOsszarByIndex(i)}} Ft
            </div>
        </div>
    </div>
    <div *ngIf="kosarElemek.length==0">
        <h1 class="d-block m-auto text-center font-size-10">A kosarad jelenleg üres!</h1>
    </div>
    <hr>
    <h4 class="float-right font-weight-bold">Kosár összesen: {{kosarSzerviz.getKosarOsszar()}} Ft</h4>
    <br>
    <br>
    <input class="float-right p-1" routerLink="/fizetesReszletek" type="button" value="Tovább a fizetéshez">
    <input class="float-right p-1" routerLink="/esemenyKereso" type="button" value="Vissza az eseményekhez">
</div>
