<div class="container mt-5">
    <h2>Kosár tartalma</h2>
    <hr>
    <div  *ngFor="let kosarElem of kosarSzerviz.jegyAdatLista; let i = index" class="row p-3 jegy-adat-container mb-5">
        <div class="col-5">
            <img class="esemeny-kep" [src]="this.eloadoService.eloadoKepUrl(kosarElem.esemeny.eloado.kep_eleres)" alt="">
            <img class="esemeny-kep" [src]="this.helyszinService.helyszinKepUrl(kosarElem.esemeny.helyszin.helyszin_kep_eleres)" alt="">
        </div>
        <div class="col-3">
            <ul>
                <li>Előadó: {{kosarElem.esemeny.eloado.nev}}</li>
                <li>Helyszín: {{kosarElem.esemeny.helyszin.nev}}</li>
                <li>Szektor: {{kosarElem.szektor.szektor_nev}}</li>
                <li>Szektor típus: {{kosarElem.szektor.szektor_tipus==='ulo'?'ülő':'álló'}}</li>
                <li *ngIf="kosarElem.szektor.szektor_tipus==='ulo'">Sorjelzés: {{kosarElem.szektorAlegyseg.sorjelzes}}</li>
                <li *ngIf="kosarElem.szektor.szektor_tipus==='ulo'">Ülőhelyek: {{kosarElem.ulohely}}</li>
            </ul>
        </div>
        <div class="col-3">
            <div class="row">
                <div class="col-10">
                    <ul>
                        <li>Jegyár : {{kosarElem.szektorAlegyseg.szektor_alegyseg_jegyar}} Ft</li>
                        <br>
                        <li>
                            <p>Jegy darabszám:</p>
                            <div>
                                <input type="button" class="float-left btn btn-primary jegy-darab" (click)="kosarSzerviz.jegyDarabCsokkentes(i)" value="-">
                                <p class="float-left ml-2 mr-2 p-1">{{kosarElem.jegyDarabszam}}</p>
                                <input type="button" class="float-left btn btn-primary jegy-darab" (click)="kosarSzerviz.jegyDarabNoveles(i)" value="+">
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-2">
                    <img class="float-right kuka d-block" (click)="kosarSzerviz.tetelTorles(i)" src="../../assets/kepek/kuka_ikon.png" alt="">
                </div>
            </div>
            <hr>
            <div class="row float-right mr-3 font-weight-bold">
                Tétel ár összesen: {{kosarSzerviz.getTetelOsszarByIndex(i)}} Ft
            </div>
        </div>
    </div>
    <div *ngIf="kosarSzerviz.jegyAdatLista.length==0">
        <h1 class="d-block m-auto text-center font-size-10">A kosarad jelenleg üres!</h1>
    </div>
    <hr>
    <div class="row font-weight-bold w-25 text-right ml-auto mr-0" *ngIf="kosarSzerviz.jegyAdatLista.length!=0">
        <div class="col">
            <h4 class="font-weight-bold">Kosár összesen: {{kosarSzerviz.getKosarOsszar(0)}} Ft</h4>
            <h4 class="font-weight-bold">+ Szervízköltség 390 Ft</h4>
            <h2 class="font-weight-bold border-top pt-2">Összesen {{kosarSzerviz.getKosarOsszar()}} Ft</h2>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col">
            <button mat-raised-button class="p-1 ml-0" routerLink="/esemenyKereso" ><img class="ml-0 mr-2" id="kosar-ikon" src="../../assets/kepek/bal_nyil.png" alt="">Vissza az eseményekhez</button>
            <button *ngIf="kosarSzerviz.jegyAdatLista.length!=0" mat-raised-button class="float-right p-1 mr-0 ml-auto" routerLink="/szamlazasiAdatok">Tovább a fizetéshez</button>
        </div>
    </div>
</div>
