.regisztracio{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
    color: #2e2f70;
}

.regisztracio-content{
    width: 40%;
    height: fit-content;
    min-width: 330px;
    padding: 10px;
    margin: 20px 0;
}

.regisztracio-form{
    padding: 15px;
}

.hibauzenet{
    color: red;
}

form{
    padding: 5px 10px 10px 30px;
}

.error-container{
    height: 5px;
}

.snackSuccess {
    background: rgb(65, 252, 134);
    color: white;
}
.snackSuccess button {
    background-color: rgb(65, 252, 134);
    color: white;
    border: none;
}
.snackFail {
    background: #F44336;
    color: white;
}

.snackFail button {
    background-color: #F44336;
    color: white !important;
    border: none;
}


.reg-button{
    width: 120px;
}