<div class="container" id="regisztracio">
    <form [formGroup]="regisztracioForm" (ngSubmit)="regisztracioGomb()" method="post">
        <div class="row"><h2>Regisztráció</h2></div>
        <hr>
        <div class="row">
            <div class="col-sm-12 col-xl-6">
                <div class="row">
                    <label class="mandatory" for="vezeteknev" matTooltip="Kötelező megadni!" matTooltipPosition="above">Vezetéknév <sup>*</sup>:</label>
                </div>
                <div class="row">
                    <input class="felhasznalo-input mr-5" id="vezeteknev" type="text" formControlName="vezeteknev" placeholder="Vezetéknév">
                </div>
            </div>
            <div class="col-sm-12 col-xl-6">
                <div class="row">
                    <label for="keresztnev" matTooltip="Kötelező megadni!" matTooltipPosition="above">Keresztnév <sup>*</sup>:</label>
                </div>
                <div class="row">
                    <input class="felhasznalo-input"  id="keresztnev" type="text" formControlName="keresztnev" placeholder="Keresztnév">
                </div>
            </div>
            <div class="mb-3" *ngIf="regisztracioForm.get('vezeteknev')?.hasError('required') && regisztracioForm.get('vezeteknev')?.touched || 
            regisztracioForm.get('keresztnev')?.hasError('required') && regisztracioForm.get('keresztnev')?.touched">
                <span class="hibauzenet">A vezetéknév és keresztnév mezők nem maradhatnak üresen!</span>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="row">
                    <label for="email" matTooltip="Kötelező megadni!" matTooltipPosition="above">E-mail cím <sup>*</sup>:</label>
                </div>
                <div class="row">
                    <input class="felhasznalo-input" id="email" type="email" formControlName="email" placeholder="E-mail cím">
                </div>
                <div class="row mb-3" *ngIf="regisztracioForm.get('email')?.hasError('required') && regisztracioForm.get('email')?.touched">
                    <span class="hibauzenet">E-mail mező nem lehet üres!</span>
                </div>
                <div class="row mb-3"  *ngIf="regisztracioForm.get('email')?.hasError('nemMegfeleloEmail')">
                    <span class="hibauzenet">Nem érvényes e-mail cím!</span>
                </div>
                <div class="row mb-3" *ngIf="regisztracioForm.get('email')?.hasError('foglaltEmail')">
                    <span class="hibauzenet">Az email foglalt!</span>
                </div>
            </div>
        </div>
            <div class="row">
                <label matTooltip="Kötelező megadni!" matTooltipPosition="above">Nem <sup>*</sup>:</label>
                <ul>
                    <li><input id="ferfi" type="radio" formControlName="nem" [value]="'f'">
                        <label for="ferfi">Férfi</label>
                    </li>
                    <li><input id="no" type="radio" formControlName="nem" [value]="'n'">
                        <label for="no">Nő</label>
                    </li>
                </ul>
            </div>
            <div class="row mb-3" *ngIf="regisztracioForm.get('nem')?.hasError('required')">
                <span class="hibauzenet">Kérjük válassza ki a nemét!</span>
            </div>

        <div class="row">
            <div class="col">
                <div class="row">
                    <label matTooltip="Kötelező megadni!" matTooltipPosition="above">Születési dátum <sup>*</sup>:</label>
                </div>
                <div class="row">
                    <input class="felhasznalo-input datum" id="szuletesi_datum" type="date" formControlName="szuletesi_datum" placeholder="ÉÉÉÉ" [attr.min]="minEvDatum" [attr.max]="maxEvDatum">
                </div>
                <div class="row mb-3" *ngIf="regisztracioForm.get('szuletesi_datum')?.hasError('required') && regisztracioForm.get('szuletesi_datum')?.touched">
                    <span class="hibauzenet">Születési dátum nem maradhat üresen!</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-lg-6">
                <div class="row">
                    <label for="felhasznalonev" matTooltip="Kötelező megadni!" matTooltipPosition="above">Felhasználónév <sup>*</sup></label>
                </div>
                <div class="row">
                    <input class="felhasznalo-input" id="felhasznalonev" type="text" formControlName="felhasznalonev" placeholder="Felhasználónév">
                </div>
                <div class="row mb-3" *ngIf="regisztracioForm.get('felhasznalonev')?.hasError('required') && regisztracioForm.get('felhasznalonev')?.touched">
                    <span class="hibauzenet">Az felhasználónév mező nem maradhat üresen!</span>
                </div>
                <div class="row mb-3" *ngIf="regisztracioForm.get('felhasznalonev')?.hasError('minlength')">
                    <span class="hibauzenet">A megadott felhasználónév nem elég hosszú!</span>
                </div>
                <div class="row mb-3" *ngIf="regisztracioForm.get('felhasznalonev')?.hasError('foglaltFelhasznalonev')">
                    <span class="hibauzenet">Az felhasználónév foglalt!</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-xl-6">
                <div class="row">
                    <label for="jelszo" matTooltip="Kötelező megadni! Legalább egy nagybetűt, kisbetűt, speciális karaktert és számot tartalmaznia kell!" matTooltipPosition="above">Jelszó <sup>*</sup></label>
                </div>
                <div class="row">
                    <input class="felhasznalo-input"  id="jelszo" type="password" formControlName="jelszo" placeholder="Jelszó">
                </div>
                <div class="row mb-3" *ngIf="regisztracioForm.get('jelszo')?.hasError('required') && regisztracioForm.get('jelszo')?.touched">
                    <span class="hibauzenet">Az jelszó mező nem maradhat üresen!</span>
                </div>
                <div class="row mb-3" *ngIf="regisztracioForm.get('jelszo')?.hasError('nemMegfeleloJelszo')">
                    <span class="hibauzenet">A megadott jelszó nem megfelelő</span>
                </div>
            </div>
            <div class="col-sm-12 col-xl-6">
                <div class="row">
                    <label for="jelszo_megerosites" matTooltip="Kötelező megadni!" matTooltipPosition="above">Jelszó újra <sup>*</sup></label>
                </div>
                <div class="row">
                    <input class="felhasznalo-input"  id="jelszo_megerosites" type="password" formControlName="jelszo_megerosites" placeholder="Jelszó újra">
                </div>
            </div>
        </div>
        <div class="row mb-3" *ngIf="regisztracioForm.hasError('jelszoKulonbozes') && regisztracioForm.get('jelszo_megerosites')?.touched">
            <span class="hibauzenet">A két jelszónak meg kell egyeznie!</span>
        </div>
        <br>
        <div class="row">
            <input id="hirlevel" type="checkbox" formControlName="hirlevel">
            <label for="hirlevel">Feliratkozás hírlevelünkre*</label>
        </div>
        <div class="row">
            <input id="adatvedelmi" type="checkbox" formControlName="adatvedelmi" required>
            <label for="adatvedelmi" matTooltip="A regisztrációhoz az adatvédelmi tájékoztató elfogadása szükséges!" matTooltipPosition="above">Elolvastam és elfogadom az adatvédelmi nyilatkozatot<sup>*</sup></label>
        </div>
        <div class="row mb-3" *ngIf="regisztracioForm.get('adatvedelmi')?.hasError('required') && regisztracioForm.get('adatvedelmi')?.touched">
            <span class="hibauzenet">Az adatvédelmi tájékoztató elfogadása kötelező!</span>
        </div>
        <button [disabled]="validFormEllenorzes()" mat-raised-button type="submit" id="gomb-reg" value=>Regisztrálok</button>
    </form>
</div> 