#regisztracio{
    width: 30%;
    height: auto;
    margin: 20px auto 0 auto;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px  #2e2f70;
    padding: 10px;
}

#regisztracio-form{
    padding: 20px;
}

.felhasznalo-input{
    margin: 0 0 20px 0;
}

.datum{
    width: 150px;
    margin:  0 8px 20px 0;
}

#adatvedelmi,#hirlevel{
    margin-right: 5px;
}

#gomb-reg{
    display: block;
    margin: auto;
}

#gomb-reg:hover{
    background-color: rgb(152, 152, 181);
    transition: 0.3s;
}

.hibauzenet{
    color: red;
}

form{
    padding: 5px 10px 10px 30px;
}

@media (max-width: 768px) {
    #regisztracio {
      width: 60%;
    }
}

ul li{
    list-style-type: none;
}

.felhasznalo-input{
    max-width: fit-content;
}