<div class="container" id="regisztracio">
    <form id=regisztracio-form action="">
        <div class="row"><h2>Regisztráció</h2></div>
        <hr>
        <div class="row">
            <div class="col-sm-12 col-lg-6">
                <div class="row">
                    <label for="vezeteknev">Vezetéknév:</label>
                </div>
                <div class="row">
                    <input class="felhasznalo-input" id="vezeteknev" type="text" name="" placeholder="Vezetéknév">
                </div>
            </div>
            <div class="col-sm-12 col-lg-6">
                <div class="row">
                    <label for="keresztnev">Keresztnév:</label>
                </div>
                <div class="row">
                    <input class="felhasznalo-input"  id="keresztnev" type="text" name="" placeholder="Keresztnév">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="row">
                    <label for="email-cim">E-mail cím:</label>
                </div>
                <div class="row">
                    <input class="felhasznalo-input"  id="email-cim" type="email" name="" placeholder="E-mail cím">
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <label for="nem">Nem:</label>
                </div>
                <div class="row pipa">
                    <input id="ferfi" type="radio" name="nemValasztas">
                    <label for="nem">Férfi</label>
                </div>
                <br>
                <div class="row pipa">
                    <input id="no" type="radio" name="nemValasztas">
                    <label for="nem">Nő</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="row">
                    <label for="">Születési dátum:</label>
                </div>
                <div class="row">
                    <input class="felhasznalo-input datum" id="szuletesi-ev" type="" name="" placeholder="ÉÉÉÉ">
                    <input class="felhasznalo-input datum" id="szuletesi-honap" type="text" name="" placeholder="HH">
                    <input class="felhasznalo-input datum" id="szuletesi-nap" type="text" name="" placeholder="NN">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-lg-6">
                <div class="row">
                    <label for="jelszo">Jelszó</label>
                </div>
                <div class="row">
                    <input class="felhasznalo-input"  id="jelszo" type="text" name="" placeholder="Jelszó">
                </div>
            </div>
            <div class="col-sm-12 col-lg-6">
                <div class="row">
                    <label for="jelszo-ujra">Jelszó újra</label>
                </div>
                <div class="row">
                    <input class="felhasznalo-input"  id="jelszo-ujra" type="text" name="" placeholder="Jelszó újra">
                </div>
            </div>
        </div>
        <br>
        <div class="row pipa">
            <input id="hirlevel" type="checkbox">
            <label for="hirlevel">Feliratkozás hírlevelünkre*</label>
        </div>
        <div class="row pipa">
            <input id="adatvedelmi" type="checkbox">
            <label for="adatvedelmi">Elolvastam és elfogadom az adatvédelmi nyilatkozatot*</label>
        </div>
        <button type="button" id="gomb-reg">Regisztrálok</button>
    </form>
</div>