<div class="container mt-5">
    <div class="row">
        <div class="col">
            <h2>Kosár tartalma</h2>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <mat-card *ngFor="let kosarElem of kosarSzerviz.jegyAdatLista; let i = index" class="pt-2 pb-2 mb-5 kosar-item">
                <div class="container">
                    <div class="row">
                        <div class="col col-lg-6 d-none d-lg-block">
                            <img class="esemeny-kep" [src]="this.eloadoService.eloadoKepUrl(kosarElem.esemeny.eloado.kep_eleres)" alt="">
                            <img class="esemeny-kep" [src]="this.helyszinService.helyszinKepUrl(kosarElem.esemeny.helyszin.helyszin_kep_eleres)" alt="">
                        </div>
                        <div class="col col-md-12 col-lg-6">
                            <div class="row">
                                <div class="col-sm-12 col-md-8 mb-3">
                                    <span class="d-block mb-1"><b>Előadó:</b> {{kosarElem.esemeny.eloado.nev}}</span>
                                    <span class="d-block mb-1"><b>Helyszín:</b> {{kosarElem.esemeny.helyszin.nev}}</span>
                                    <span class="d-block mb-1"><b>Szektor:</b> {{kosarElem.szektor!.szektor_nev}}</span>
                                    <span class="d-block mb-1"><b>Szektor típus:</b> {{kosarElem.szektor!.szektor_tipus==='ulo'?'ülő':'álló'}}</span>
                                    <span *ngIf="kosarElem.szektor!.szektor_tipus==='ulo'" class="d-block mb-1"><b>Sorjelzés:</b> {{kosarElem.szektorAlegyseg!.sorjelzes}}</span>
                                    <span *ngIf="kosarElem.szektor!.szektor_tipus==='ulo'" class="d-block mb-1"><b>Ülőhelyek:</b> {{kosarElem.ulohely}}</span>
                                </div>
                                <div class="col col-sm-12 col-md-4 d-inline-block">
                                    <span class="d-block mb-1"><b>Jegyár:</b> {{kosarElem.szektorAlegyseg!.szektor_alegyseg_jegyar}} Ft</span>
                                    <span class="d-block mb-2"><b>Jegy darabszám: </b>{{kosarElem.jegyDarabszam}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row font-weight-bold align-items-center mb-1">
                        <div class="col col-5">
                            <button mat-raised-button color="warn" class="szuro-torlo-button" (click)="kosarSzerviz.tetelTorles(i)">
                                <mat-icon>delete</mat-icon> <span class="ml-3">Törlés</span>
                            </button>
                        </div>
                        <div class="col col-7 text-right">
                            <span>
                                Tétel összesen: {{kosarSzerviz.getTetelOsszarByIndex(i)}} Ft
                            </span>
                        </div>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
    <div *ngIf="kosarSzerviz.jegyAdatLista.length==0">
        <h1 class="d-block m-auto text-center font-size-10">A kosarad jelenleg üres!</h1>
    </div>
    <hr>
    <div class="row font-weight-bold w-50 text-right ml-auto mr-0" *ngIf="kosarSzerviz.jegyAdatLista.length!=0">
        <div class="col">
            <h4 class="font-weight-bold">Kosár összesen: {{kosarSzerviz.getKosarOsszar(0)}} Ft</h4>
            <h4 class="font-weight-bold">+ Szervízköltség 390 Ft</h4>
            <h2 class="font-weight-bold border-top pt-2">Összesen {{kosarSzerviz.getKosarOsszar()}} Ft</h2>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col">
            <button mat-raised-button class="p-1 ml-0" routerLink="/esemeny-kereso" ><img class="ml-0 mr-2" id="kosar-ikon" src="../../assets/kepek/bal_nyil.png" alt="">Eseményekhez</button>
            <button *ngIf="kosarSzerviz.jegyAdatLista.length!=0" mat-raised-button color="primary" class="float-right p-1 mr-0 ml-auto" routerLink="/szamlazasi-adatok">Számlázási adatok</button>
        </div>
    </div>
</div>


