<div class="" id="felhasznalo-adatok">
    <div class="container">
        <div class="col">
            <div id="szeparator">
                <div id=felhasznalo-nev class="row">
                    <div class="col">Üdvözlünk, {{this.szerviz.bejelentkezettUser.felhasznalonev}}!</div>
                </div>
                <div id="ikonok"  class="row">
                    <a href=""><img src="../../assets/kepek/beallitasok_ikon.png" alt="Beállítások" title="Beállítások"></a>
                    <a href=""><img src="../../assets/kepek/jegyeim_ikon.png" alt="Jegyeim" title="Jegyeim"></a>
                    <a href=""><img src="../../assets/kepek/baratok_ikon.png" alt="Ismerősök" title="Ismerősök"></a>
                    <a href="" (click)="LogoutGomb()"><img src="../../assets/kepek/logout.png" alt="" title="Kijelentkezés"></a>
                </div>
            </div>
        </div>
        <div id="profilkep-container" class="col">
            <img id="profilkep" src="../../assets/kepek/ferfi_kep.jpg" alt=""><!--<img src="" alt={{felhasznalo}}>-->
        </div>
    </div>
</div>