#bejelentkezett-user-container{
    display: flex;
    align-items: center;
}

#profil-adat-container{
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: fantasy;
    letter-spacing: 1px;
}

#profilkep-container{
    display: flex;
    align-items: center;
    width: 35px;
    justify-content: center;
    border-radius: 30%;
    box-shadow: 1px 1px 1px 1px  #2e2f70;
    padding-right: 5px;
    background-color: rgb(211, 211, 211)
}

#profilkep{
    font-size: 30px;
    margin-bottom: 7px;
}

.logout-panel-icon{
    height: 25px;
    transition: 0.3s;
    margin: 0 5px;
    color: #2e2f70;
}

.logout-panel-icon:hover{
    transform: scale(1.2);
}

.logout-panel-icon-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 3px;
}