<div id="bejelentkezett-user-container">
    <div  class="mr-2">
        <button *ngIf="szerep=='admin' || szerep=='esemenyszerkeszto'" id="admin-felulet-gomb" (click)="navigacio(szerep)"  [disabled]="this.userAzonositas.toltes">
            <mat-spinner *ngIf="this.userAzonositas.toltes" diameter="20"></mat-spinner>
            <div *ngIf="szerep=='admin' && !this.userAzonositas.toltes" matTooltip="ADMIN felület"  class="d-flex">
                <mat-icon class="menu-ikon mr-1">stars</mat-icon>
                <span class="d-none d-lg-block pt-1">ADMIN felület</span>
            </div>
            <div *ngIf="szerep=='esemenyszerkeszto' && !this.userAzonositas.toltes" class="d-flex" matTooltip="Eseményszerkesztő felület">
                <mat-icon class="menu-ikon mr-1">event</mat-icon>
                <span class="d-none d-lg-block pt-1">Eseményszerkesztő</span>
            </div>
        </button>
    </div>
    <div class="d-none d-sm-block">
        <div id="profil-adat-container">
            <span *ngIf="szerep=='admin'" class="text-danger">ADMIN</span>
            <div id="profilkep-container">
                <mat-icon *ngIf="true" id="profilkep">person</mat-icon>
            </div>
            <div>
                <span *ngIf="true">{{userAzonositas.getUsername()}}</span>
            </div>
        </div>
    </div>
    <div class="logout-panel-icon-container">
        <a matTooltip="Profilbeállítások" routerLink="/profil-adatok">
            <mat-icon class="logout-panel-icon">settings</mat-icon>
        </a>
        <a matTooltip="Kijelentkezés" (click)="this.userAzonositas.logout()">
            <mat-icon class="logout-panel-icon">exit_to_app</mat-icon>
        </a>
    </div>
</div>



