.container{
    padding: 10px;
}

img{
    height: 22px;
    margin: 5px;
}

#ikonok img:hover,#kijelentkezes img:hover{
    scale: 1.5;
}

#profilkep-container{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 10px;
    max-height: 50px;
    max-width: 50px;
    box-shadow: 0px 0px 5px 0px  #2e2f70;
    border-radius: 50%;
}

#profilkep{
    height: 50px;
}
