<div class="d-inline-block">
    <div id="profilkep-container" >
        <img id="profilkep" src="../../assets/kepek/ferfi_kep.jpg" alt=""><!--<img src="" alt={{felhasznalo}}>-->
    </div>
</div>
<div id="ikonok"  class="d-inline-block">
    <a class="d-block" routerLink="/profilAdatok">
        <img src="../../assets/kepek/beallitasok-ikon.svg" alt="Beállítások" title="Beállítások">
    </a>
    <a class="d-block" href="" (click)="LogoutGomb()"><img src="../../assets/kepek/kijelentkezes-ikon.svg" alt="" title="Kijelentkezés"></a>
</div>


