<div class="bejelentkezes-container">
    <mat-card class="bejelentkezes-content" (keyup.enter)="userLogin()">
        <h2 class="">Bejelentkezés</h2>
        <mat-form-field>
            <mat-label>Felhasználónév:</mat-label>
            <input matInput class="adat-input" [(ngModel)]="felhasznalonev" id="felhasznalonev" type="text">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Jelszó:</mat-label>
            <input matInput class="adat-input" [(ngModel)]="jelszo" id="jelszo" type="password">
        </mat-form-field>
        <div class="error-container">
            <span *ngIf="errorMessage" class="error"><mat-icon class="mr-2">error_outline</mat-icon> Hibás felhasználónév vagy jelszó!</span>
        </div>
        <div class="mb-3">
            <button mat-raised-button type="submit" (click)="userLogin()">Bejelentkezés</button>
        </div>
        <div>
            <span>Nincs még fiókod?</span><a class="ml-2" routerLink="/regisztracio">Regisztrálj!</a>
        </div>
    </mat-card>
</div>