<div class="bejelentkezes-container">
    <mat-card class="bejelentkezes-content" (keyup.enter)="userLogin()">
        <h2 class="">Bejelentkezés</h2>
        <mat-form-field>
            <mat-label>Felhasználónév:</mat-label>
            <input matInput class="adat-input w-100" [(ngModel)]="felhasznalonev" id="felhasznalonev" type="text">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Jelszó:</mat-label>
            <input matInput class="adat-input w-100" [(ngModel)]="jelszo" id="jelszo" type="password">
        </mat-form-field>
        <div class="error-container">
            <span *ngIf="errorMessage" class="error"><mat-icon class="mr-2">error_outline</mat-icon> Hibás felhasználónév vagy jelszó!</span>
        </div>
        <div class="mb-3">
            <button class="login-button" mat-raised-button type="submit" (click)="userLogin()" [disabled]="toltes"><span><mat-spinner *ngIf="toltes" class="ml-2" diameter="20" mode="indeterminate"></mat-spinner></span> <span *ngIf="!toltes"> Bejelentkezés</span></button>
        </div>
        <div>
            <b><span>Nincs még fiókod?</span><a class="ml-2" routerLink="/regisztracio">Regisztrálj!</a></b>
        </div>
    </mat-card>
</div>