.bejelentkezes-container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.bejelentkezes-content{
    width: 22%;
    min-width: 270px;
    height: 360px;
    padding: 20px;
    align-items: center;
    margin: 50px auto;
}

.adat-input{
    width: 100px;
}

input{
    border-radius: 5px;
}

a{
    text-decoration: none;
    color: #2e2f70;
}

a:hover{
    color: rgb(13, 13, 181)
}

.login-felirat{
    font-size: 18px;
}

.error{
    height: 100%;
    display: flex;
    align-items: center;
    color: red;
}

.error-container{
    height: 40px;
    padding-bottom: 15px;
}


.login-button{
    width: 120px;
}

