<div class="justify-content-center text-center" style="margin: 20px 40px;">
    <div class="mb-4 d-flex ml-auto mr-auto justify-content-center">
        <input class="form-control w-50 mr-4" (keyup)="applyFilter($event)" placeholder="Írj ide a kereséshez!" #input>
        <button  mat-raised-button color="primary" (click)="letrehozasAblak('100ms','100ms')">Új műfaj hozzáadása</button>
    </div>
    <mat-paginator #paginator style="border: 2px solid rgb(226, 223, 223);border-top-left-radius: 10px;border-top-right-radius: 10px;" [length]="100"
        [pageSize]="10"
        [pageSizeOptions]="[5, 10, 25, 100]"
        aria-label="Select page">
    </mat-paginator>  
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
    
        <ng-container matColumnDef="nev">
        <th mat-header-cell *matHeaderCellDef> Név </th>
        <td mat-cell *matCellDef="let element"> {{element.nev}} </td>
        </ng-container>
    
        <ng-container matColumnDef="leiras">
        <th mat-header-cell *matHeaderCellDef> Leírás </th>
        <td mat-cell *matCellDef="let element"> {{element.leiras}} </td>
        </ng-container>

        <ng-container matColumnDef="modositas">
            <th mat-header-cell *matHeaderCellDef> Módosítás </th>
            <td mat-cell *matCellDef="let element"><button mat-raised-button color="primary" (click)="modositasAblak('100ms','100ms',element)">Módosítás</button></td>
        </ng-container> 

        <ng-container matColumnDef="torles">
            <th mat-header-cell *matHeaderCellDef> Törlés </th>
            <td mat-cell *matCellDef="let element"><button mat-raised-button color="warn" (click)="torlesAblak('100ms','100ms',element.id)">Törlés</button></td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns" style="background-color: #c8c8d6;"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="5">Nincs találat a(z) "{{input.value}}" kifejezésre!</td>
        </tr>
    </table> 
</div>
