<div class="container mt-5">
       <div class="row">
              <div class="col">
                     <h2>Korábbi vásárlásaim</h2>
                     <hr>
              </div>
       </div>
       <div *ngIf="korabbiVasarlasok.length==0" class="row">
              <div class="col">
                     <h3>Még nem vásároltál a Booxán... :(</h3>
              </div>
       </div>
       <details *ngFor="let vasarlas of korabbiVasarlasok" class="mb-5 col">
              <summary class="font-weight-bold mb-3" style="font-size: 17px;">
                     Rendelésazonosító: {{vasarlas.id}} - Rendelés időpont: {{vasarlas.rendeles_idopont}}
              </summary>
              <div *ngFor="let jegy of vasarlas.jegy_adat" class="col mb-3">
                     <p class="font-weight-bold ml-4">Jegy azonosító: {{jegy.id}}</p>
                     <div class="ml-5 row">
                            <p class="col-3 font-weight-bold">Esemény időpont:</p>
                            <p class="col-9 font-italic">{{jegy.esemeny.idopont}}</p>
                     </div>
                     <div class="ml-5 row">
                            <p class="col-3 font-weight-bold">Előadó:</p>
                            <p class="col-9 font-italic">{{jegy.esemeny.eloado.nev}}</p>
                     </div>
                     <div class="ml-5 row">
                            <p class="col-3 font-weight-bold">Helyszín:</p>
                            <p class="col-9 font-italic">{{jegy.esemeny.helyszin.nev}}</p>
                     </div>
                     <div class="ml-5 row">
                            <p class="col-3 font-weight-bold">Szektor:</p>
                            <p class="col-9 font-italic">{{jegy.szektor.szektor_nev}}</p>
                     </div>
                     <hr>
              </div>
       </details>
</div>