<div class="container pt-3">
    <div class="row esemeny-fo-reszletek">
        <div class="pt-2 esemeny-fo-reszletek-cim d-flex align-items-center">
            <h2 class="font-weight-bold text-center">Esemény információk:</h2>
        </div>
        <div class="col pt-2">
            <h4><span class="font-weight-bold">Előadó:</span> {{kivalasztottEloadoNev}}</h4>
            <h4><span class="font-weight-bold">Helyszín:</span> {{kivalasztottHelyszinNev}}</h4>
        </div>
        <div class="col pt-2">
            <h4 class="font-weight-bold">Esemény időpont:</h4>
            <h4 >{{kivalasztottEsemenyDatum}}</h4>
            <!--<div *ngFor="let szektorfoglaltsag of szektorFoglaltsagok | keyvalue">
                <div *ngIf="szektorfoglaltsag.value">
                    <h2>{{szektorfoglaltsag.value[0]}}</h2>
                </div>    
            </div>-->
        </div>
    </div>
    <div class="row mt-3">
        <div class="col col-xs-12 col-sm-12 col-md-12 col-lg-5 col-xl-5 szektor-container p-0 text-center mb-5">
            <table id="osszes-jegyadat-table" *ngIf="jegyKivalasztas_e">
                <thead>
                    <ng-container>
                        <tr>
                            <th colspan="2" class="border">Szektor adat</th>
                            <th class="col-4 border">
                                <span>Jegyárak</span>
                                <button>
                                    <mat-icon (click)="jegyRendezesAr(true)">keyboard_arrow_up</mat-icon>
                                </button>
                                <button>
                                    <mat-icon (click)="jegyRendezesAr(false)">keyboard_arrow_down</mat-icon>
                                </button>
                            </th>
                            <th class="col-4 border">Jegy részletek</th>
                        </tr>
                    </ng-container>
                </thead>
                <tbody>
                    <ng-container *ngFor="let szektor of kivalasztottSzektorok">
                        <tr *ngFor="let szektor_alegyseg of szektor.szektor_alegyseg">
                            <td class="border col-1" [style.background-color]="szektor.szin"></td>
                            <td class="border pl-3">{{szektor.szektor_nev}} {{szektor_alegyseg.sorjelzes!='null'?szektor_alegyseg.sorjelzes+" sor":""}}</td>
                            <td class="border pl-3">{{szektor_alegyseg.szektor_alegyseg_jegyar}} Ft</td>
                            <td class="border pl-3 m-auto kivalasztas-gomb text-center"><button mat-raised-button (click)="jegyKivalasztas(szektor,szektor_alegyseg)">Kiválaszt</button></td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
            <table id="jegyadat-reszletek-table" *ngIf="!jegyKivalasztas_e">
                <tr>
                    <th class="jegyadat-cella">Szektor jelzés:</th>
                    <td>{{kivalasztottSzektor.szektor_nev}}</td>
                </tr>
                <tr *ngIf="kivalasztottSzektorAlegyseg.sorjelzes!='null'">
                    <th class="jegyadat-cella">Sorjelzés:</th>
                    <td>{{kivalasztottSzektorAlegyseg.sorjelzes}}</td>
                </tr>
                <tr *ngIf="kivalasztottSzektorAlegyseg.sorjelzes!='null'">
                    <th class="jegyadat-cella">Ülőhelyek:</th>
                    <td>{{kivalasztottUlohelyek}}</td>
                </tr>
                <tr>
                    <th class="jegyadat-cella">Jegy darabár:</th>
                    <td>{{kivalasztottSzektorAlegyseg.szektor_alegyseg_jegyar}} Ft</td>
                </tr>
                <tr>
                    <th class="jegyadat-cella">Jegy darabszám:</th>
                    <td><button  *ngFor="let jegyFoglalhatoDarab of jegyFoglalhatoDarabok" class="darab-button mr-2" (click)="foglaltDarabBeallitas(jegyFoglalhatoDarab)">{{jegyFoglalhatoDarab}}</button><!--<input class="d-inline-block" type="number" [(ngModel)]="jegyFoglaltDarab" min="0" max="1000" placeholder="Jegyek száma">--></td>
                </tr>
                <tr>
                    <th class="jegyadat-cella">Jegy összár:</th>
                    <td>{{kivalasztottSzektorAlegyseg.szektor_alegyseg_jegyar*jegyFoglaltDarab}} Ft</td>
                </tr>
                <tr>
                    <th class="pl-3"><button mat-raised-button (click)="jegyInfoVisszaallitas()">Vissza a szektorokhoz</button></th>
                    <td class="float-right mr-3">
                        <span *ngIf="jegyFoglaltDarab==0">Jegy kosárba helyezéséhez válassz darabszámot!</span>
                        <button *ngIf="jegyFoglaltDarab>0" mat-raised-button (click)="jegyKosarbaHelyezes()">Kosárba tesz</button>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col col-xs-12 col-sm-12 col-md-12 col-lg-7 col-xl-7 helyszin-container">
            <div class="row">
                <button mat-raised-button class="bg-success text-white ml-5 mr-auto"  (click)="osszesSzektorKijeloles()">Szektorok kijelölése</button>
                <button mat-raised-button class="float-right bg-danger text-white mr-5 ml-auto"  (click)="szektorKijelolesTorles()">Szektor kijelölés törlése</button>
            </div>
            <div class="row" class="d-flex align-items-center justify-content-center">
                <div #svgContainer></div>
            </div>
        </div>
    </div>
    <div class="row mb-4">
        <button mat-raised-button class="d-inline" routerLink="/esemenyKereso"><mat-icon>keyboard_arrow_left</mat-icon>Vissza az eseményekhez</button>
        <button mat-raised-button class="d-inline ml-auto mr-0" routerLink="/kosarOsszegzo">Tovább a kosárhoz<mat-icon iconPositionEnd>shopping_cart</mat-icon></button>
    </div>
</div>






