.esemeny-fo-reszletek{
    border-radius: 10px;
    box-shadow: 1px 1px 4px 1px #c8c8d6;
    color: #2e2f70;
    width: 90%;
}

.esemeny-fo-reszletek-cim{
    background-color: rgb(246, 223, 92);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.helyszin-container{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 1px 4px 1px #c8c8d6;
    border-radius: 10px;
    margin: 10px 10px 20px 10px;
}

.tbody{
    height: 350px;
    overflow-y: auto;
}

.clickable-group:hover {
    cursor: pointer;
  }

.szektor-container{
    min-width: 200px;
    height: 350px;
    overflow-y: auto;
    box-shadow: 1px 1px 4px 1px #c8c8d6;
    border-radius: 10px;
    margin: 10px;
    position: relative;
}

thead{
    position: sticky;
    top: 0;
    background-color: rgb(246, 223, 92);
    color: #2e2f70;
    z-index: 2;
    height: 35px;
}

.kivalasztas-gomb{
    z-index: 1;
}

#osszes-jegyadat-table{
    width: 100%;
}

#osszes-jegyadat-table td{
    width: 10px;
}

#jegyadat-reszletek-table{
    width: 100%;
}

.jegyadat-cella{
    height: 50px;
    padding-left: 15px;
    padding-top: 15px;
    float: left
}

#kosar-ikon{
    margin-left: 10px;
    height: 25px;
}

.darab-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(246, 223, 92); /* Replace with your preferred background color */
    color:#2e2f70; /* Replace with your preferred text color */
    font-size: 16px;
    font-weight: bold;
    border: none;
    transition: background-color 0.3s ease;
    box-shadow: 1px 1px 1px 1px rgba(152, 168, 189,0.5);;
  }
  
  .darab-button:hover {
    background-color: #5e7997; /* Change the color for hover effect */
  }

  .order-buttons {
    display: inline-block;
  }

  .order-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1em;
    padding: 0px;
    vertical-align: middle;
  }

  .container{
    align-items: center;
  }

  .jegy-reszletek-gombok{
    position: absolute;
    bottom: 10px;
    display: flex;
    align-items: stretch;
    margin: 0px 10px;
  }
