.esemeny-fo-reszletek{
    border-radius: 10px;
    box-shadow: 1px 1px 4px 1px #c8c8d6;
    color: #2e2f70;
}

.esemeny-fo-reszletek-cim{
    background-color: rgb(246, 223, 92);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.helyszin-container{
    justify-content: center;
    align-items: center;
}

.helyszin-svg{
    display: block;
}

.tbody{
    height: 300px;
    overflow-y: auto;
}

.clickable-group:hover {
    cursor: pointer;
  }

.szektor-container{
    height: 350px;
    overflow-y: auto;
    box-shadow: 1px 1px 4px 1px #c8c8d6;
    border-radius: 10px;
}

thead{
    position: sticky;
    top: 0;
    background-color: rgb(246, 223, 92);
    box-shadow: 3px 3px 10px 7px #c8c8d6;
    color: #2e2f70;
    z-index: 2;
    height: 35px;
}

.kivalasztas-gomb{
    z-index: 1;
}

#osszes-jegyadat-table{
    width: 100%;
}

#jegyadat-reszletek-table{
    width: 100%;
}

.jegyadat-cella{
    height: 50px;
    padding-left: 15px;
}

#kosar-ikon{
    margin-left: 10px;
    height: 25px;
}

.darab-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(246, 223, 92); /* Replace with your preferred background color */
    color:#2e2f70; /* Replace with your preferred text color */
    font-size: 16px;
    font-weight: bold;
    border: none;
    transition: background-color 0.3s ease;
    box-shadow: 1px 1px 1px 1px rgba(152, 168, 189,0.5);;
  }
  
  .darab-button:hover {
    background-color: #5e7997; /* Change the color for hover effect */
  }