<div class="container pt-3">
    <div class="row esemeny-fo-reszletek">
        <div class="col">
            <span class="d-block">{{kivalasztottEsemeny.idopont}}</span>
        </div>
        <div class="col">
            <h4>Előadó: {{kivalasztottEloado.nev}}</h4>
            <h4>Helyszín: {{kivalasztottHelyszin.nev}}</h4>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table *ngIf="jegyKivalasztas_e">
                <thead>
                    <tr>
                        <th class="col-4 border">Szektor adat</th>
                        <th class="col-3 border">Jegyek száma</th>
                        <th class="col-3 border">Jegyárak</th>
                        <th class="col-2 border">Lefoglalás</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let szektorcsoport of kivalasztottSzektorCsoportok">
                        <tr *ngFor="let szektor of szektorcsoport.szektor">
                            <td class="border pl-3">{{szektorcsoport.szektor_csoport_nev}} {{szektor.sorjelzes!==null?szektor.sorjelzes+" sor":""}}</td>
                            <td class="border pl-3">{{szektor.szektor_jegyar}} Ft</td>
                            <td><button (click)="jegyKivalasztas(szektorcsoport,szektor)">Kiválaszt</button></td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
            <div *ngIf="!jegyKivalasztas_e">
                <input type="number" [(ngModel)]="jegyFoglaltDarab" min="0" max="1000">
                <button (click)="jegyKosarbaHelyezes()">Kiválaszt</button>
            </div>
        </div>
        <div class="col helyszin-container">
            <ng-container *ngIf="helyszinSvg">
                <div class="helyszin-svg"  [innerHTML]="helyszinSvg" (click)="szektorSzinezes()"></div>
            </ng-container>
        </div>
    </div>
</div>






