<div class="container pt-3">
    <div class="row esemeny-fo-reszletek">
        <div class="col">
            <span class="d-block">{{kivalasztottEsemeny.idopont}}</span>
        </div>
        <div class="col">
            <h4>Előadó: {{kivalasztottEloado.nev}}</h4>
            <h4>Helyszín: {{kivalasztottHelyszin.nev}}</h4>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table *ngIf="jegyKivalasztas_e">
                <thead>
                    <tr>
                        <th class="col-4 border">Szektor adat</th>
                        <th class="col-3 border">Jegyárak</th>
                        <th class="col-2 border">Lefoglalás</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let szektorcsoport of kivalasztottSzektorCsoportok">
                        <tr *ngFor="let szektor of szektorcsoport.szektor">
                            <td class="border pl-3">{{szektorcsoport.szektor_csoport_nev}} {{szektor.sorjelzes!='null'?szektor.sorjelzes+" sor":""}}</td>
                            <td class="border pl-3">{{szektor.szektor_jegyar}} Ft</td>
                            <td class="border pl-3 m-auto"><button (click)="jegyKivalasztas(szektorcsoport,szektor)">Kiválaszt</button></td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
            <div *ngIf="!jegyKivalasztas_e">
                <table>
                    <tr>
                        <th>Szektor jelzés:</th>
                        <td>{{kivalasztottSzektorCsoport.szektor_csoport_nev}}</td>
                    </tr>
                    <tr *ngIf="kivalasztottSzektor.sorjelzes!='null'">
                        <th>Sorjelzés:</th>
                        <td>{{kivalasztottSzektor.sorjelzes}}</td>
                    </tr>
                    <tr *ngIf="kivalasztottSzektor.sorjelzes!='null'">
                        <th>Ülőhelyek:</th>
                        <td>{{kivalasztottUlohelyek}}</td>
                    </tr>
                    <tr>
                        <th>Jegy darabár:</th>
                        <td>{{kivalasztottSzektor.szektor_jegyar}} Ft</td>
                    </tr>
                    <tr>
                        <th>Jegy darabszám:</th>
                        <td><input class="d-inline-block" type="number" [(ngModel)]="jegyFoglaltDarab" min="0" max="1000" placeholder="Jegyek száma"></td>
                    </tr>
                    <tr>
                        <th>Jegy összár:</th>
                        <td>{{kivalasztottSzektor.szektor_jegyar*jegyFoglaltDarab}} Ft</td>
                    </tr>
                    <tr>
                        <td colspan="2"><button class="d-block" (click)="jegyKosarbaHelyezes()">Kosárba tesz</button></td>
                    </tr>
                    <tr>
                        <td colspan="2"><button class="d-block" (click)="jegyInfoVisszaallitas()">Vissza a szektorokhoz</button></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col helyszin-container">
            <ng-container *ngIf="helyszinSvg">
                <div class="helyszin-svg"  [innerHTML]="helyszinSvg" (click)="szektorSzinezes()"></div>
            </ng-container>
        </div>
    </div>
    <div class="row">
        <button class="float-right" routerLink="/esemenyKereso">Vissza az eseményekhez</button>
    </div>
</div>






