<div class="mt-5" id="elfelejtettJelszo">
    <div class="text-center">
        <h2>Elfelejtett jelszó</h2>
        <div class="">
            <p class="elfelejtettjelszo-felirat">Email cím:</p>
            <input class="m-1" type="email" name="email">
        </div>
        <div class="">
            <p class="elfelejtettjelszo-felirat">Email cím megismétlése:</p>
            <input class="m-1" type="email" name="emailUjra">
        </div>
        <div class="">
            <input class="" routerLink="/kezdooldal" type="button" value="Új jelszó kérése"/>
        </div>
    </div>
</div>