<div class="container" id="regisztracio" (ngSubmit)="megrendelesElkuldes()" >
    <form [formGroup]="szamlazasiAdatForm" id="szamlazasiAdatForm">
        <div class="row"><h2>Rendelés összege: {{kosarSzerviz.getKosarOsszar()}} Ft</h2></div>
        <div class="row"><h2>Számlázási adatok</h2></div>
        <hr>
        <div class="row">
            <div class="col-sm-12 col-xl-6">
                <div class="row">
                    <label class="mandatory" for="vezeteknev" matTooltip="Kötelező megadni!" matTooltipPosition="above">Vezetéknév <sup>*</sup>:</label>
                </div>
                <div class="row">
                    <input class="felhasznalo-input mr-5" id="vezeteknev" type="text" formControlName="vezeteknev" mask="S*">
                </div>
            </div>
            <div class="col-sm-12 col-xl-6">
                <div class="row">
                    <label for="keresztnev" matTooltip="Kötelező megadni!" matTooltipPosition="above">Keresztnév <sup>*</sup>:</label>
                </div>
                <div class="row">
                    <input class="felhasznalo-input"  id="keresztnev" type="text" formControlName="keresztnev" mask="S*">
                </div>
            </div>
            <div class="mb-3" *ngIf="vezeteknev?.hasError('required') && vezeteknev?.touched || 
            keresztnev?.hasError('required') && keresztnev?.touched">
                <span class="hibauzenet">A vezetéknév és keresztnév mezők nem maradhatnak üresen!</span>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="row" matTooltip="Kötelező megadni!" matTooltipPosition="above">
                    <label for="email">E-mail cím <sup>*</sup>:</label>
                </div>
                <div class="row">
                    <input class="felhasznalo-input" id="email" type="email" formControlName="email">
                </div>
                <div class="row mb-3" *ngIf="email?.hasError('required') && email?.touched">
                    <span class="hibauzenet">Az e-mail mező nem maradhat üresen!</span>
                </div>
                <div class="row mb-3"  *ngIf="email?.hasError('email')">
                    <span class="hibauzenet">A megadott adat nem érvényes e-mail cím!</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="row" matTooltip="Kötelező megadni!" matTooltipPosition="above">
                    <label>Irányítószám <sup>*</sup>:</label>
                </div>
                <div class="row">
                    <input class="felhasznalo-input" id="iranyitoszam" type="text" formControlName="iranyitoszam" mask="A*" maxlength="5">
                </div>
                <div class="row mb-3"  *ngIf="iranyitoszam?.hasError('required') && iranyitoszam?.touched">
                    <span class="hibauzenet">Az irányítószám mező nem maradhat üresen!</span>
                </div>
            </div>
            <div class="col">
                <div class="row" matTooltip="Kötelező megadni!" matTooltipPosition="above">
                    <label>Település <sup>*</sup>:</label>
                </div>
                <div class="row">
                    <input class="felhasznalo-input" id="telepules" type="text" formControlName="telepules" mask="S*">
                </div>
                <div class="row mb-3"  *ngIf="telepules?.hasError('required') && telepules?.touched">
                    <span class="hibauzenet">Az település mező nem maradhat üresen!</span>
                </div>
            </div>
            <div class="col">
                <div class="row" matTooltip="Kötelező megadni!" matTooltipPosition="above">
                    <label>Utca <sup>*</sup>:</label>
                </div>
                <div class="row">
                    <input class="felhasznalo-input" id="kozterulet" type="text" formControlName="kozterulet">
                </div>
                <div class="row mb-3"  *ngIf="kozterulet?.hasError('required') && kozterulet?.touched">
                    <span class="hibauzenet">Az település mező nem maradhat üresen!</span>
                </div>
            </div>
            <div class="col">
                <div class="row" matTooltip="Kötelező megadni!" matTooltipPosition="above">
                    <label>Házszám <sup>*</sup>:</label>
                </div>
                <div class="row">
                    <input class="felhasznalo-input" id="hazszam" type="text" formControlName="hazszam" mask="0*" maxlength="4">
                </div>
                <div class="row mb-3"  *ngIf="hazszam?.hasError('required') && hazszam?.touched">
                    <span class="hibauzenet">Az házszám mező nem maradhat üresen!</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <span>Fizetési mód kiválasztása:</span>
            </div>
            <div class="col">
                <input formControlName="fizetesmod" id="fizetesmod" type="radio" value="bankkartya">
                <img class="w-50 ml-2" src="../../assets/kepek/credit-card.svg" alt="">
                <span>Bankkártya</span>
            </div>
        </div>
        <div class="row mb-3" *ngIf="fizetesmod?.hasError('required') && fizetesmod?.touched">
            <span class="hibauzenet">Az fizetésmód kiválasztása kötelező!</span>
        </div>
        <br>
        <button mat-raised-button class="p-1 float-left" routerLink="/kosarOsszegzo" type="button">Vissza a kosárhoz</button>
    </form>
    <div *ngIf="fizetesiMod!='bankkartya'">
        <div class="whole-payment-page">
            <div class="whole-payment-container">
                <hr>
                <div class="w-100 justify-content-center text-align-center">
                    <h1>Bankkártyás fizetés</h1>
                </div>
                <div class="container">
                    <div class="creditcard">
                        <div class="front">
                            <div id="ccsingle"></div>
                            <svg version="1.1" id="cardfront" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                x="0px" y="0px" viewBox="0 0 750 471" style="enable-background:new 0 0 750 471;" xml:space="preserve">
                                <g id="Front">
                                    <g id="CardBackground">
                                        <g id="Page-1_1_">
                                            <g id="amex_1_">
                                                <path id="Rectangle-1_1_" class="lightbluedark" d="M40,0h670c22.1,0,40,17.9,40,40v391c0,22.1-17.9,40-40,40H40c-22.1,0-40-17.9-40-40V40
                                        C0,17.9,17.9,0,40,0z" />
                                            </g>
                                        </g>
                                        <path class="lightblue" d="M750,431V193.2c-217.6-57.5-556.4-13.5-750,24.9V431c0,22.1,17.9,40,40,40h670C732.1,471,750,453.1,750,431z" />
                                    </g>
                                    <text transform="matrix(1 0 0 1 60.106 295.0121)" id="svgnumber" class="st2 st3 st4">{{bankkartyaSzam?.value |  mask:'0000 0000 0000 0000'}}</text>
                                    <text transform="matrix(1 0 0 1 54.1064 428.1723)" id="svgname" class="st2 st5 st6">{{kartyaTulajdonos?.value | mask:'S*'}}</text>
                                    <text transform="matrix(1 0 0 1 54.1074 389.8793)" class="st7 st5 st8">kártyatulajdonos</text>
                                    <text transform="matrix(1 0 0 1 479.7754 388.8793)" class="st7 st5 st8">lejárati idő</text>
                                    <text transform="matrix(1 0 0 1 65.1054 241.5)" class="st7 st5 st8">bankkártyaszám</text>
                                    <g>
                                        <text transform="matrix(1 0 0 1 574.4219 433.8095)" id="svgexpire" class="st2 st5 st9">{{bankkartyaLejarat?.value | mask:'00/00'}}</text>
                                        <text transform="matrix(1 0 0 1 479.3848 417.0097)" class="st2 st10 st11">VALID</text>
                                        <text transform="matrix(1 0 0 1 479.3848 435.6762)" class="st2 st10 st11">THRU</text>
                                        <polygon class="st2" points="554.5,421 540.4,414.2 540.4,427.9" />
                                    </g>
                                    <g id="cchip">
                                        <g>
                                            <path class="st2 yellow" d="M168.1,143.6H82.9c-10.2,0-18.5-8.3-18.5-18.5V74.9c0-10.2,8.3-18.5,18.5-18.5h85.3
                                    c10.2,0,18.5,8.3,18.5,18.5v50.2C186.6,135.3,178.3,143.6,168.1,143.6z" />
                                        </g>
                                        <g>
                                            <g>
                                                <rect x="82" y="70" class="st12" width="1.5" height="60" />
                                            </g>
                                            <g>
                                                <rect x="167.4" y="70" class="st12" width="1.5" height="60" />
                                            </g>
                                            <g>
                                                <path class="st12" d="M125.5,130.8c-10.2,0-18.5-8.3-18.5-18.5c0-4.6,1.7-8.9,4.7-12.3c-3-3.4-4.7-7.7-4.7-12.3
                                        c0-10.2,8.3-18.5,18.5-18.5s18.5,8.3,18.5,18.5c0,4.6-1.7,8.9-4.7,12.3c3,3.4,4.7,7.7,4.7,12.3
                                        C143.9,122.5,135.7,130.8,125.5,130.8z M125.5,70.8c-9.3,0-16.9,7.6-16.9,16.9c0,4.4,1.7,8.6,4.8,11.8l0.5,0.5l-0.5,0.5
                                        c-3.1,3.2-4.8,7.4-4.8,11.8c0,9.3,7.6,16.9,16.9,16.9s16.9-7.6,16.9-16.9c0-4.4-1.7-8.6-4.8-11.8l-0.5-0.5l0.5-0.5
                                        c3.1-3.2,4.8-7.4,4.8-11.8C142.4,78.4,134.8,70.8,125.5,70.8z" />
                                            </g>
                                            <g>
                                                <rect x="82.8" y="82.1" class="st12" width="25.8" height="1.5" />
                                            </g>
                                            <g>
                                                <rect x="82.8" y="117.9" class="st12" width="26.1" height="1.5" />
                                            </g>
                                            <g>
                                                <rect x="142.4" y="82.1" class="st12" width="25.8" height="1.5" />
                                            </g>
                                            <g>
                                                <rect x="142" y="117.9" class="st12" width="26.2" height="1.5" />
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                        </div>
                    </div>
                </div>
                <div id="bankkartyaAdatok" class="container mt-3 ml-auto mr-auto justify-content-center">
                    <form [formGroup]="bankkartyaAdatForm" id="bankkartyaAdatForm">
                        <div class="field-container row w-100 m-auto">
                            <label class="mb-1 mt-2" >Bankkártyaszám</label>
                            <input id="bankkartyaSzam" formControlName="bankkartyaSzam" class="mt-0"  type="text" maxlength="19" mask="0000 0000 0000 0000">
                        </div>
                        <div class="row mb-3" *ngIf="bankkartyaSzam?.hasError('required') && bankkartyaSzam?.touched">
                            <span class="hibauzenet">A bankkártyaszám mező nem maradhat üresen!</span>
                        </div>
                        <div class="row mb-3" *ngIf="bankkartyaSzam?.hasError('bankkartyaSzamInvalid')">
                            <span class="hibauzenet">A bankkkártyaszám csak számokat tartalmazhat!</span>
                        </div>
                        <div class="row mb-3" *ngIf="bankkartyaSzam?.hasError('bankkartyaSzamInvalid')">
                            <span class="hibauzenet">A bankkkártyaszám csak számokat tartalmazhat!</span>
                        </div>
                        <div class="field-container row w-100 m-auto">
                            <label class="mb-1 mt-2" >Kártyatulajdonos</label>
                            <input id="kartyaTulajdonos" formControlName="kartyaTulajdonos" class="mt-0" maxlength="20" type="text" mask="S*">
                        </div>
                        <div class="row mb-3" *ngIf="kartyaTulajdonos?.hasError('required') && kartyaTulajdonos?.touched">
                            <span class="hibauzenet">A bankkártya tulajdonos név mező nem maradhat üresen!</span>
                        </div>
                        <div class="field-container row w-100">
                            <div class="col-8 ml-0">
                                <label class="mb-1 mt-2" >Lejárati idő (mm/yy)</label>
                                <input id="bankkartyaLejarat" formControlName="bankkartyaLejarat" class="mt-0" type="text" pattern="[0-9]*" inputmode="numeric" maxlength="5" mask="00/00">
                            </div>
                            <div class="row mb-3" *ngIf="bankkartyaLejarat?.hasError('required') && bankkartyaLejarat?.touched">
                                <span class="hibauzenet">A bankkártya lejárati idő mező nem maradhat üresen!</span>
                            </div>
                            <div class="row mb-3" *ngIf="bankkartyaLejarat?.hasError('bankkartyaLejaratInvalid')">
                                <span class="hibauzenet">A bankkkártyaszám lejárat csak számokat tartalmazhat!</span>
                            </div>
                            <div class="col-4 ml-0">
                                <label class="mb-1 mt-2" >CVV2</label>
                                <input id="cvvKod" formControlName="cvvKod" class="mt-0"  type="password" maxlength="3" mask="000">
                            </div>
                            <div class="row mb-3" *ngIf="cvvKod?.hasError('required') && cvvKod?.touched">
                                <span class="hibauzenet">Az CVV2 mező megadása kötelező!</span>
                            </div>
                            <div class="row mb-3" *ngIf="cvvKod?.hasError('cvvKodInvalid')">
                                <span class="hibauzenet">A CVV2 mező csak számokat tartalmazhat!</span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="field-container d-flex justify-content-center mt-5" >
        <button mat-raised-button (click)="megrendelesElkuldes()" [disabled]="validFormEllenorzes()" id="gomb-reg">Megrendelem</button>
    </div>
</div>