#szamlazas{
    width: 40%;
    height: auto;
    margin: 50px auto 50px auto;
    justify-content: center;
    align-items: center;
    padding: 10px;
    min-width: 350px;
}

#szamlazasiAdatForm{
    width: 100%;
}

#creditcard{
    height: auto;
    width: 100%;
    max-width: 300px;
    text-align: center;
    justify-content: center;
}

#regisztracio-form{
    padding: 20px;
}

.felhasznalo-input{
    margin: 0 0 20px 0;
}

.datum{
    width: 150px;
    margin:  0 8px 20px 0;
}

#rendeles{
    display: block;
    margin: auto;
}

#rendeles:hover{
    background-color: rgb(152, 152, 181);
    transition: 0.3s;
}

.hibauzenet{
    color: red;
}

form{
    padding: 5px 10px 10px 30px;
}

ul li{
    list-style-type: none;
}

/*Bankkártya stílusok*/

label {
    font-size: 13px;
}

#fizetesForm input {
    margin-top: 3px;
    height: 10px;
    padding: 15px;
    font-size: 16px;
    width: 90%;
}

#bankkartyaAdatok input {
    margin-top: 3px;
    height: 10px;
    padding: 15px;
    font-size: 16px;
    width: 100%;
}

.ccicon {
    height: 38px;
    position: absolute;
    right: 6px;
    top: calc(50% - 17px);
    width: 60px;
}

#ccsingle svg {
    width: 100px;
    max-height: 60px;
}

.creditcard svg#cardfront{
    width: 100%;
    box-shadow: 1px 5px 6px 0px black;
}

.lightblue {
    fill: #03A9F4;
}

.lightbluedark {
    fill: #0288D1;
}

.yellow {
    fill: #ffeb3b!important;
}

/* FRONT OF CARD */
#svgname {
    text-transform: uppercase;
}

#cardfront .st2 {
    fill: #FFFFFF;
}

#cardfront .st3 {
    font-family: 'Source Code Pro', monospace;
    font-weight: 600;
}

#cardfront .st4 {
    font-size: 54.7817px;
}

#cardfront .st5 {
    font-family: 'Source Code Pro', monospace;
    font-weight: 400;
}

#cardfront .st6 {
    font-size: 33.1112px;
}

#cardfront .st7 {
    opacity: 0.6;
    fill: #FFFFFF;
}

#cardfront .st8 {
    font-size: 24px;
}

#cardfront .st9 {
    font-size: 36.5498px;
}

#cardfront .st10 {
    font-family: 'Source Code Pro', monospace;
    font-weight: 300;
}

#cardfront .st11 {
    font-size: 16.1716px;
}

.creditcard {
    width: 100%;
    max-width: 400px;
}

.whole-payment-container{
    margin: 50px auto 20px auto;
    padding: 10px;
    width: 100%;
    min-width: 30px;
    min-height: 650px;
}

.hibauzenet-container{
    height: 20px;
    margin-bottom: 25px;
}

.bankkartya-container{
    width: 100%;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.bankkartya{
    align-items: center;
    display: flex;
    flex-direction: column;
}

#bankkartyaAdatok{
    width: 100%;
}

.kartyaszoveg{
    font-size: 23px;
    fill: white;
}

.kartyaszoveg-kozepes{
    font-size: 28px;
    fill: white;
}

.kartyaszoveg-nagy{
    font-size: 40px;
    fill: white;
}