<mat-card class="container" id="szamlazas" (ngSubmit)="megrendelesElkuldes()" >
    <form [formGroup]="szamlazasiAdatForm" id="szamlazasiAdatForm">
        <div class="row">
            <div class="col">
                <div><h2>Rendelés összege: {{kosarSzerviz.getKosarOsszar()}} Ft</h2></div>
                <div><h2>Számlázási adatok</h2></div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col col-md-12 col-lg-6">
                <mat-form-field class="w-100">
                    <mat-label for="vezeteknev" matTooltip="Kötelező megadni!" matTooltipPosition="above">Vezetéknév:</mat-label>
                    <input matInput id="vezeteknev" type="text" class="felhasznalo-input mr-5" formControlName="vezeteknev" mask="S*">
                </mat-form-field>
            </div>
            <div class="col col-md-12 col-lg-6">
                <mat-form-field class="w-100">
                    <mat-label for="keresztnev" matTooltip="Kötelező megadni!" matTooltipPosition="above">Keresztnév:</mat-label>
                    <input matInput id="keresztnev" type="text" class="felhasznalo-input mr-5" formControlName="keresztnev" mask="S*">
                </mat-form-field>
            </div>
        </div>
        <div class="row hibauzenet-container">
            <div class="col">
                <div *ngIf="vezeteknev?.hasError('required') && vezeteknev?.touched || 
                keresztnev?.hasError('required') && keresztnev?.touched">
                    <span class="hibauzenet">A vezetéknév és keresztnév mezők nem maradhatnak üresen!</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-md-12 col-lg-9 col-xl-7">
                <mat-form-field class="w-100">
                    <mat-label for="email" matTooltip="Kötelező megadni!" matTooltipPosition="above">E-mail cím:</mat-label>
                    <input matInput id="email" type="email" class="felhasznalo-input mr-5" formControlName="email">
                </mat-form-field>
            </div>
        </div>
        <div class="row hibauzenet-container">
            <div class="col">
                <div *ngIf="email?.hasError('required') && email?.touched">
                    <span class="hibauzenet">Az e-mail mező nem maradhat üresen!</span>
                </div>
                <div *ngIf="email?.hasError('email')">
                    <span class="hibauzenet">A megadott adat nem érvényes e-mail cím!</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-md-12 col-lg-5">
                <mat-form-field class="w-100">
                    <mat-label for="iranyitoszam" matTooltip="Kötelező megadni!" matTooltipPosition="above">Irányítószám:</mat-label>
                    <input matInput id="iranyitoszam" type="text" class="felhasznalo-input mr-5" formControlName="iranyitoszam"  mask="A*" maxlength="5">
                </mat-form-field>
            </div>
            <div class="col col-md-12 col-lg-7">
                <mat-form-field class="w-100">
                    <mat-label for="telepules" matTooltip="Kötelező megadni!" matTooltipPosition="above">Település:</mat-label>
                    <input matInput id="telepules" type="text" class="felhasznalo-input mr-5" formControlName="telepules" mask="S*">
                </mat-form-field>
            </div>
        </div>
        <div class="row hibauzenet-container">
            <div class="col">
                <div *ngIf="iranyitoszam?.hasError('required') && iranyitoszam?.touched || telepules?.hasError('required') && telepules?.touched">
                    <span class="hibauzenet">Az irányítószám, település mezők nem maradhatnak üresen!</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-md-12 col-lg-8">
                <mat-form-field class="w-100">
                    <mat-label for="kozterulet" matTooltip="Kötelező megadni!" matTooltipPosition="above">Közterület:</mat-label>
                    <input matInput id="kozterulet" type="text" class="felhasznalo-input mr-5" formControlName="kozterulet" mask="S*">
                </mat-form-field>
            </div>
            <div class="col col-md-12 col-lg-4">
                <mat-form-field class="w-100">
                    <mat-label for="hazszam" matTooltip="Kötelező megadni!" matTooltipPosition="above">Házszám:</mat-label>
                    <input matInput id="hazszam" type="text" class="felhasznalo-input mr-5" formControlName="hazszam" mask="0*" maxlength="4">
                </mat-form-field>
            </div>
        </div>
        <div class="row hibauzenet-container">
            <div class="col">
                <div *ngIf="kozterulet?.hasError('required') && kozterulet?.touched || hazszam?.hasError('required') && hazszam?.touched">
                    <span class="hibauzenet">Az közterület, házszám mezők nem maradhatnak üresen!</span>
                </div>
            </div>
        </div>
    </form>
    <div class="field-container d-flex justify-content-center mt-2" >
        <button mat-raised-button class="p-2 mr-5" routerLink="/kosarOsszegzo" type="button">Vissza a kosárhoz</button>
        <button mat-raised-button class="p-2" (click)="megrendelesElkuldes()" [disabled]="validFormEllenorzes() || rendelesFeldolgozas" id="rendeles"><span *ngIf="!rendelesFeldolgozas">Rendelés elküldése: {{kosarSzerviz.getKosarOsszar()}} Ft</span><span><mat-spinner *ngIf="rendelesFeldolgozas" class="ml-2" diameter="20" mode="indeterminate"></mat-spinner></span></button>
    </div>
</mat-card>