<div id="bal-menu">
    <ul>
        <li class="row"><h4>Opciók:</h4><img class="menu-ikon" src="../../assets/kepek/bal_nyil.png" (click)="menuInterakcio()"  alt=""></li>
        <hr>
        <li class="row"><a routerLink="/kezdooldal">Kezdőoldal<img class="menu-ikon" src="../../assets/kepek/kezdolap_ikon.jpg" alt=""></a></li>
        <li class="row"><a routerLink="/kereses">Esemény kereső<img class="menu-ikon"  src="../../assets/kepek/event_ikon.jpg" alt=""></a></li>
        <li class="row"><a routerLink="/eloadasHelyszin">Előadás helyszín<img class="menu-ikon"  src="../../assets/kepek/helyszin_ikon.png" alt=""></a></li>
    </ul>
</div>
