li{
    list-style-type: none;
  }

  #bal-menu {
    height: 100%;
    width: 220px;
    position: fixed;
    z-index: 1;
    top: 120px;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
    color: rgb(0, 94, 255);
    border-right: 2px solid black;
  }
  
#bal-menu a {
  text-decoration: none;
  font-size: 20px;
  color: black;
}
  
#bal-menu a:hover {
  color: #f1f1f1;
}

.row{
  position: relative;
}

.menu-ikon{
  position: absolute;
  left: 140px;
  height: 30px;
  margin: 5px;

}