<div class="container profil-adat-teljes">
    <div class="row profil-adat-blokk cim">
        <div class="col">
            <h2>Profil adatok</h2>
        </div>
    </div>
    <div class="profil-adat-blokk row felhasznaloi-adat">
        <div class="col">
            <div class="row">
                <h4 class="pl-3 pt-3">Belépési adatok</h4>
            </div>
            <hr>
            <div class="row profil-adat-container">
                <div class="col profil-adat-tipus"><span>Felhasználónév:</span> </div>
                <div class="col profil-adat"><input class="adat-input" type="text" [placeholder]="this.userService.bejelentkezettUser.felhasznalonev" [disabled]="!this.belepesAdatSzerkesztheto"></div>
            </div>
            <div class="row profil-adat-container">
                <div class="col profil-adat-tipus">Jelenlegi jelszó: </div>
                <div class="col profil-adat"><input class="adat-input"  type="text" placeholder="*******" [disabled]="!this.belepesAdatSzerkesztheto"></div>
            </div>
            <div *ngIf="this.belepesAdatSzerkesztheto"  class="row profil-adat-container">
                <div class="col profil-adat-tipus">Új jelszó: </div>
                <div class="col profil-adat"><input class="adat-input"  type="text" placeholder="új jelszó"></div>
            </div>
            <div *ngIf="this.belepesAdatSzerkesztheto"  class="row profil-adat-container">
                <div class="col profil-adat-tipus">Új jelszó megismétlése:  </div>
                <div class="col profil-adat"><input class="adat-input"  type="text" placeholder="új jelszó megismétlése"></div>
            </div>
            <div class="row justify-content-center mb-2">
                <button mat-raised-button *ngIf="!this.belepesAdatSzerkesztheto" class="rounded font-weight-bold" (click)="this.belepesAdatSzerkesztheto=true" >Szerkesztés</button>
                <button mat-raised-button *ngIf="this.belepesAdatSzerkesztheto" class="rounded font-weight-bold" (click)="this.belepesAdatSzerkesztheto=false" >Mentés</button>
                <button mat-raised-button *ngIf="this.belepesAdatSzerkesztheto" class="rounded font-weight-bold" (click)="this.belepesAdatSzerkesztheto=false" >Mégse</button>
            </div>
        </div>
    </div>
    <div class="profil-adat-blokk row felhasznaloi-adat">
        <div class="col">
            <div class="row profil-adat-container">
                <div class="col profil-adat-tipus">Email: </div>
                <div class="col profil-adat"><input class="adat-input"  type="text"  [placeholder]="this.userService.bejelentkezettUser.email" [disabled]="!this.emailSzerkesztheto"><!--{{this.szerviz.bejelentkezettUser.email}}--></div>
            </div>
            <div *ngIf="this.emailSzerkesztheto" class="row profil-adat-container">
                <div class="col profil-adat-tipus">Email megismétlése: </div>
                <div class="col profil-adat"><input class="adat-input"  type="text" placeholder="email megismétlése" [disabled]="!this.emailSzerkesztheto"><!--{{this.szerviz.bejelentkezettUser.email}}--></div>
            </div>
            <div class="row justify-content-center mb-2">
                <button mat-raised-button *ngIf="!this.emailSzerkesztheto" class="rounded font-weight-bold" (click)="this.emailSzerkesztheto=true" >Szerkesztés</button>
                <button mat-raised-button *ngIf="this.emailSzerkesztheto" class="rounded font-weight-bold" (click)="this.emailSzerkesztheto=false" >Mentés</button>
                <button mat-raised-button *ngIf="this.emailSzerkesztheto" class="rounded font-weight-bold" (click)="this.emailSzerkesztheto=false" >Mégse</button>
            </div>
        </div>
    </div>
    <div class="profil-adat-blokk row szemelyes-adat">
        <div class="col">
            <div class="row">
                <h4 class="pl-3 pt-3">Személyes adatok</h4>
            </div>
            <hr>
            <div class="row profil-adat-container">
                <div class="col profil-adat-tipus">Vezetéknév: </div>
                <div class="col profil-adat"><input class="adat-input"  type="text"  [placeholder]="this.userService.bejelentkezettUser.vezeteknev" [disabled]="!this.szemelyesAdatSzerkesztheto"><!--{{this.szerviz.bejelentkezettUser.vezeteknev}}--></div>
            </div>
            <div class="row profil-adat-container">
                <div class="col profil-adat-tipus">Keresztnév: </div>
                <div class="col profil-adat"><input class="adat-input"  type="text"  [placeholder]="this.userService.bejelentkezettUser.keresztnev" [disabled]="!this.szemelyesAdatSzerkesztheto"><!--{{this.szerviz.bejelentkezettUser.keresztnev}}--></div>
            </div>
            <div class="row profil-adat-container">
                <div class="col profil-adat-tipus">Születési dátum: </div>
                <div class="col profil-adat"><input class="adat-input"  type="date" onfocus="(this.type='date')" [disabled]="!this.szemelyesAdatSzerkesztheto"><!--{{this.szerviz.bejelentkezettUser.szuletesiDatum}}--></div>
            </div>
            <div class="row justify-content-center mb-2">
                <button mat-raised-button *ngIf="!this.szemelyesAdatSzerkesztheto" class="rounded font-weight-bold" (click)="this.szemelyesAdatSzerkesztheto=true">Szerkesztés</button>
                <button mat-raised-button *ngIf="this.szemelyesAdatSzerkesztheto" class="rounded font-weight-bold" (click)="this.szemelyesAdatSzerkesztheto=false" >Mentés</button>
                <button mat-raised-button *ngIf="this.szemelyesAdatSzerkesztheto" class="rounded font-weight-bold" (click)="this.szemelyesAdatSzerkesztheto=false" >Mégse</button>
            </div>
        </div>
    </div>
    <div class="profil-adat-blokk row profilkep-adat">
        <div class="col">
            <div class="row">
                <h4 class="pl-3 pt-3">Profilkép</h4>
            </div>
            <hr>
            <div class="row profil-adat-container">
                <div class="col profil-adat-tipus">Profilkép feltöltése</div>
                <div class="col profil-adat"><input class="rounded font-weight-bold" type="file" accept="image/*"></div>
            </div>
            <div class="row justify-content-center mb-2">
                <button mat-raised-button  class="rounded font-weight-bold">Profilkép mentése</button>
            </div>
        </div>
    </div>
</div>
