.container{
    max-width: 55%;
}

.profil-adat-container{
    margin-top: 40px;
    margin-bottom: 40px;
}

.profil-adat-tipus{
    font-size: 20px;
}

.profil-adat{
    display: flex;
    justify-content: center;
}

.cim{
    margin-top: 20px;
}

.profil-adat-blokk{
    margin-bottom: 20px;
}

.adat-input{
    min-width: 200px;
    width: fit-content;
}

.modositasSnack{
    background-color: red;
    color: aliceblue;
    font-style: italic;
}