.container{
    max-width: 45%;
    min-width: 280px;
    color: #2e2f70;
}

.profil-adat-container{
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    text-align: center;
}

.profil-adat-tipus{
    font-size: 20px;
}

.profil-adat{
    display: flex;
    justify-content: center;
}

.cim{
    margin-top: 20px;
    text-align: center;
}

.profil-adat-blokk{
    margin-bottom: 20px;
}

.profil-adat-col{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.adat-input{
    min-width: 200px;
    width: fit-content;
}

.hibauzenet{
    color: red;
}

.hibauzenet-container{
    height: 40px;
}
