.footer-container {
    box-shadow: 1px 1px 6px 1px #c8c8d6;
    background-color: rgb(246, 223, 92);
    padding: 20px 0;
    margin-top: auto;
}

.footer-content {
    width: 70%;
    text-align: center;
    margin: auto;
    display: block;
    color: #2e2f70;
}

a{
    text-decoration: none;
    color: #2e2f70;
}
