.field-container input {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.field-container{
    width: 300px;
}

label {
    font-size: 13px;
}

input {
    margin-top: 3px;
    padding: 15px;
    font-size: 16px;
    width: 100%;
    border-radius: 3px;
    border: 1px solid #dcdcdc;
}

.ccicon {
    height: 38px;
    position: absolute;
    right: 6px;
    top: calc(50% - 17px);
    width: 60px;
}


.container {
    width: 100%;
    max-width: 400px;
    max-height: 251px;
    height: 54vw;
    padding: 20px;
}

#ccsingle svg {
    width: 100px;
    max-height: 60px;
}

.creditcard svg#cardfront{
    width: 100%;
    -webkit-box-shadow: 1px 5px 6px 0px black;
    box-shadow: 1px 5px 6px 0px black;
    border-radius: 22px;
}

.lightblue {
    fill: #03A9F4;
}

.lightbluedark {
    fill: #0288D1;
}

.yellow {
    fill: #ffeb3b!important;
}

/* FRONT OF CARD */
#svgname {
    text-transform: uppercase;
}

#cardfront .st2 {
    fill: #FFFFFF;
}

#cardfront .st3 {
    font-family: 'Source Code Pro', monospace;
    font-weight: 600;
}

#cardfront .st4 {
    font-size: 54.7817px;
}

#cardfront .st5 {
    font-family: 'Source Code Pro', monospace;
    font-weight: 400;
}

#cardfront .st6 {
    font-size: 33.1112px;
}

#cardfront .st7 {
    opacity: 0.6;
    fill: #FFFFFF;
}

#cardfront .st8 {
    font-size: 24px;
}

#cardfront .st9 {
    font-size: 36.5498px;
}

#cardfront .st10 {
    font-family: 'Source Code Pro', monospace;
    font-weight: 300;
}

#cardfront .st11 {
    font-size: 16.1716px;
}

.creditcard {
    width: 100%;
    max-width: 400px;
}

.whole-payment-container{
    margin: 50px auto 20px auto;
    padding: 10px;
    width: 420px;
    min-height: 650px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 2px #707070 ;
}

.whole-payment-page{
    width: 100%;
    justify-content: center;
}

.container{
    max-width: 500px;
    padding: 20px;
    color: #707070;
}

